# SQLQUeryChain - Mondial - Foreign Key - GPT 3.5

In [49]:

from langchain.sql_database import SQLDatabase

from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain
from urllib.parse import quote  
from langchain.callbacks import get_openai_callback
import time
from dotenv import load_dotenv
import os
import sys
import json
load_dotenv()

experiment_path = '../..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"/functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

/Users/moon/Documents/text_to_sql_byLLM/experiments/SQLQueryChain/../..

# Schema

In [50]:
# SCHEMA = 'mondial_gpt'
# PREFIX = 'mondial'

# FILE_NAME_RESULT = f"results/9_sql_queries_chatgpt_{SCHEMA}_fk.json"

SCHEMA = 'shipment'
PREFIX = 'shipment'
FILE_NAME_RESULT = f"results/9_sql_queries_gpt3.5_shipment.json"

In [51]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Connection

In [52]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

{'DB_USER_NAME': 'SHIPMENT',
 'DB_PASS': 'oraclee',
 'DB_HOST': 'localhost',
 'DB_PORT': 1521,
 'DB_NAME': 'XE',
 'SQL_DRIVER': 'oracle+oracledb',
 'SERVICE_NAME': 'XE',
 'SCHEMA': 'SHIPMENT',
 'KEYWORD_SEARCH_API_URL': ''}

### Using SQLDatabase to get all the information from the database

In [53]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

# exclusao = [
#     f"{SCHEMA}_tmdp",
#     f"{SCHEMA}_tmdpmap",
#     f"{SCHEMA}_tmds",
#     f"{SCHEMA}_tmjmap",
#     f"{SCHEMA}_tpv",
#     f"{SCHEMA}_tmdc",
#     f"{SCHEMA}_tmdcmap",
#     f"{SCHEMA}_tmdej",
#     f"{SCHEMA}_log_action",
#     f"{SCHEMA}_log_error",
#     f"{SCHEMA}_favorite_item", 
#     f"{SCHEMA}_favorite_query",
#     f"{SCHEMA}_favorite_tag",
#     f"{SCHEMA}_favorite_tag_item",
#     f"{SCHEMA}_favorite_visualization",
#     f"{SCHEMA}_dashboard",
#     f"{SCHEMA}_history",
#     "teste_cliente",
#     "teste_fornecedor",
#     "teste_funcionario"
# ]

# include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
include_tables = db.get_table_names()
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

['customer', 'product', 'shipment', 'shippedproduct']

In [54]:
len(include_tables)

4

## Creating the prompt

In [55]:
from langchain.prompts.prompt import PromptTemplate

f = open(f"prompts/prompt_template_sql_query_chain.txt", "r")
prompt_template = f.read()
f.close()


PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(PROMPT)

input_variables=['input', 'table_info', 'top_k'] input_types={} partial_variables={} template='You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, don\'t query for at {top_k} most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today". \n\nSome hints:\n- Don\'t use double quotes in column name\n- \nExample:\n`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`\n- Don\'t use LEFT JOIN, only JOIN\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}'

## Creating Chain to generate SQL

In [56]:
query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-3.5-turbo-16k'), db.db, prompt=PROMPT)

### Test: query and Number of Tokens

In [57]:
# with get_openai_callback() as cb:
#     sql_query = query_chain.invoke({"question":"What are the provinces with an area more than 10000?"})
    
#     print(cb.total_tokens)
#     print(cb.prompt_tokens)
#     print(cb.completion_tokens)
#     print(cb.total_cost)
# sql_query

In [58]:
# with get_openai_callback() as cb:
#     sql_query = query_chain.invoke({"question":"What are the languages spoken in Poland?"})
#     print(cb.total_tokens)
#     print(cb.prompt_tokens)
#     print(cb.completion_tokens)
#     print(cb.total_cost)
# sql_query

## Preparing natural language queries to run in LLM

In [59]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': 1,
  'question': "Return the customer name and address as one field called fullAddress that consists of the address, city, state. Only show customers in 'IA' or 'BC' that have a valid address. Order by customer name ascending.",
  'query_string': '',
  'type': 'medium'},
 {'id': 2,
  'question': 'Return the shipment id, shipment date, product id, and amount for all shipments in 2022 where there was a product shipped with an amount greater than 8. Only show a shipment once and order by shipment date descending and amount descending.',
  'query_string': '',
  'type': 'medium'},
 {'id': 3,
  'question': "Find all customers that have an 'R' or 'T' in their name and have a state of 'MI' or 'IA'. Order by customer name descending.",
  'query_string': '',
  'type': 'simple'},
 {'id': 4,
  'question': 'Return a list of the unique product id and names that have shipped before with an amount less than 5 and order by product id descending.',
  'query_string': '',
  'type': 'simple'},
 {'id': 5,
  'question': 'For each state, return the number of customers in that state and the number of shipments for customers in that state. Only show states with at least 2 shipments. Order by number of shipments descending.',
  'query_string': '',
  'type': 'medium'},
 {'id': 6,
  'question': "Return the top 3 products for state 'AB' based on shipment revenue (amount*price) for the year 2022.",
  'query_string': '',
  'type': 'complex'},
 {'id': 7,
  'question': 'Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after September 1st, 2021, and only show products if they have been shipped at least three times and have a totalValueShipped > $110. Order by totalAmountShipped ascending.',
  'query_string': '',
  'type': 'complex'},
 {'id': 8,
  'question': 'Return pairs of customers (only show a pair once) that have been shipped the same product. Return the number of times the pair of customers have been shipped the same product (numShippedProducts). Order by numShippedProducts descending, then first customer name ascending, and second customer name ascending. Show customer pairs that have 5 or more times that they have been shipped the same product.',
  'query_string': '',
  'type': 'complex'},
 {'id': 9,
  'question': 'Return a complete list of all customers (cid, cname), the total number of shipments, and total shipped value (amount*price) that they have been shipped. Return the bottom',
  'query_string': '',
  'type': 'complex'},
 {'id': 10,
  'question': 'Return the products that are shipped more often than the average number of times a product is shipped. Order by number of shipments descending and product id ascending.',
  'query_string': '',
  'type': 'complex'},
 {'id': 11,
  'question': 'Return the product names, price, inventory, and inventory value of each product (`price*inventory`) (rename as `inventoryValue`) for products with price greater than `$20`. Order by product name ascending.',
  'query_string': '',
  'type': 'simple'},
 {'id': 12,
  'question': "Return the customer id, name, state, and shipment date for all customers in `'BC'` or `'IA'` that have had a shipment in `2022`. Order by `shipdate` descending and `cname` ascending.",
  'query_string': '',
  'type': 'medium'},
 {'id': 13,
  'question': "Find all customers that either have the word `'street'` in their street address or have no street address. ",
  'query_string': '',
  'type': 'simple'},
 {'id': 14,
  'question': 'Return a list of the unique city and states of customers. Order output by `state` descending.',
  'query_string': '',
  'type': 'simple'},
 {'id': 15,
  'question': 'For each city, return the number of customers in that city and the number of shipments for customers in that city. **Hint: COUNT(DISTINCT *field*) may be useful.** Only show cities with at least 2 shipments. Order by number of shipments descending and city ascending.',
  'query_string': '',
  'type': 'medium'},
 {'id': 16,
  'question': "Return the top 5 products for state `'BC'` based on shipment revenue (`amount*price`) for the year `2021`.",
  'query_string': '',
  'type': 'medium'},
 {'id': 17,
  'question': 'Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after `March 10th, 2022`, and only show products if they have been shipped at least twice. Order by `totalValueShipped` descending.',
  'query_string': '',
  'type': 'complex'},
 {'id': 18,
  'question': "Return pairs of products (only show a pair once) that appear together in the same shipment and have at least an `amount` of 2 in that shipment. Return the number of times the products appear together in a shipment ('numTogether'). Order by `numTogether` descending, then first product name ascending, and second product name ascending.",
  'query_string': '',
  'type': 'complex'},
 {'id': 19,
  'question': "Return a complete list of  products (`pid`, `pname`), the total number of shipments, and total shipped amount that they have been shipped to customers in `'IA'`.",
  'query_string': '',
  'type': 'complex'},
 {'id': 20,
  'question': 'Return the customers who have more shipments than the average number of shipments per customer.',
  'query_string': '',
  'type': 'complex'}]

# Running queries in LLM to generate SQL

In [60]:

# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.
# import warnings
# from sqlalchemy import exc

# # Suppress SAWarning
# warnings.filterwarnings("ignore", category=exc.SAWarning, message=".*Cannot correctly sort tables.*")

# Your code here



# number_of_queries_to_delay = 25

count = 0

for instance in queries:
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = query_chain.invoke({"question":instance["question"]})
        # this uses PROMPT template by filling it with input, table_info, top_k (possibly 0), sends filled prompt to GPT 4 and gets back SQL query
        end_time = time.time()
        instance["query_string"] = sql_query.replace('\n', ' ').strip()
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], sql_query, instance['time'], instance['total_cost'])
    save_queries(queries)
    time.sleep(2)
queries

1 Return the customer name and address as one field called fullAddress that consists of the address, city, state. Only show customers in 'IA' or 'BC' that have a valid address. Order by customer name ascending. SELECT cname || ', ' || address || ', ' || city || ', ' || state AS fullAddress
FROM customer
WHERE state IN ('IA', 'BC') AND address IS NOT NULL
ORDER BY cname ASC; 0.7979540824890137 0.001898
2 Return the shipment id, shipment date, product id, and amount for all shipments in 2022 where there was a product shipped with an amount greater than 8. Only show a shipment once and order by shipment date descending and amount descending. SELECT s.sid, s.shipdate, sp.pid, sp.amount
FROM shipment s
JOIN shippedproduct sp ON s.sid = sp.sid
WHERE s.shipdate >= TO_DATE('2022-01-01', 'YYYY-MM-DD')
AND s.shipdate < TO_DATE('2023-01-01', 'YYYY-MM-DD')
AND sp.amount > 8
ORDER BY s.shipdate DESC, sp.amount DESC; 2.002218008041382 0.002094
3 Find all customers that have an 'R' or 'T' in their name and have a state of 'MI' or 'IA'. Order by customer name descending. SELECT cname, state
FROM customer
WHERE (cname LIKE '%R%' OR cname LIKE '%T%') AND (state = 'MI' OR state = 'IA')
ORDER BY cname DESC; 0.8394169807434082 0.001861
4 Return a list of the unique product id and names that have shipped before with an amount less than 5 and order by product id descending. SELECT DISTINCT sp.pid, p.pname
FROM shippedproduct sp
JOIN product p ON sp.pid = p.pid
WHERE sp.amount < 5
ORDER BY sp.pid DESC; 0.6641819477081299 0.0018310000000000002
5 For each state, return the number of customers in that state and the number of shipments for customers in that state. Only show states with at least 2 shipments. Order by number of shipments descending. SELECT c.state, COUNT(DISTINCT c.cid) AS num_customers, COUNT(DISTINCT s.sid) AS num_shipments
FROM customer c
JOIN shipment s ON c.cid = s.cid
GROUP BY c.state
HAVING COUNT(DISTINCT s.sid) >= 2
ORDER BY num_shipments DESC; 1.211320161819458 0.001987
6 Return the top 3 products for state 'AB' based on shipment revenue (amount*price) for the year 2022. SELECT p.pname, SUM(sp.amount * pr.price) AS revenue
FROM product p
JOIN shippedproduct sp ON p.pid = sp.pid
JOIN shipment s ON sp.sid = s.sid
JOIN customer c ON s.cid = c.cid
WHERE c.state = 'AB' AND EXTRACT(YEAR FROM s.shipdate) = 2022
GROUP BY p.pname
ORDER BY revenue DESC
FETCH FIRST 3 ROWS ONLY; 1.03031587600708 0.0020440000000000002
7 Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after September 1st, 2021, and only show products if they have been shipped at least three times and have a totalValueShipped > $110. Order by totalAmountShipped ascending. SELECT sp.pid AS product_id,
       p.pname AS product_name,
       COUNT(sp.sid) AS times_shipped,
       SUM(sp.amount) AS total_amount_shipped,
       SUM(sp.amount * pr.price) AS total_value_shipped
FROM shippedproduct sp
JOIN product p ON sp.pid = p.pid
JOIN shipment s ON sp.sid = s.sid
JOIN product pr ON sp.pid = pr.pid
WHERE s.shipdate > TO_DATE('2021-09-01', 'YYYY-MM-DD')
GROUP BY sp.pid, p.pname
HAVING COUNT(sp.sid) >= 3 AND SUM(sp.amount * pr.price) > 110
ORDER BY total_amount_shipped ASC; 1.5682780742645264 0.00243
8 Return pairs of customers (only show a pair once) that have been shipped the same product. Return the number of times the pair of customers have been shipped the same product (numShippedProducts). Order by numShippedProducts descending, then first customer name ascending, and second customer name ascending. Show customer pairs that have 5 or more times that they have been shipped the same product. SQL Query to run:
```sql
SELECT c1.cname AS customer1, c2.cname AS customer2, COUNT(sp1.pid) AS numShippedProducts
FROM customer c1
JOIN shipment s1 ON c1.cid = s1.cid
JOIN shippedproduct sp1 ON s1.sid = sp1.sid
JOIN shippedproduct sp2 ON sp1.pid = sp2.pid AND sp1.sid <> sp2.sid
JOIN shipment s2 ON sp2.sid = s2.sid
JOIN customer c2 ON s2.cid = c2.cid
GROUP BY c1.cname, c2.cname
HAVING COUNT(sp1.pid) >= 5
ORDER BY numShippedProducts DESC, customer1 ASC, customer2 ASC;
``` 1.8858551979064941 0.002464
9 Return a complete list of all customers (cid, cname), the total number of shipments, and total shipped value (amount*price) that they have been shipped. Return the bottom SELECT c.cid, c.cname, COUNT(s.sid) AS total_shipments, SUM(sp.amount * p.price) AS total_shipped_value
FROM customer c
JOIN shipment s ON c.cid = s.cid
JOIN shippedproduct sp ON s.sid = sp.sid
JOIN product p ON sp.pid = p.pid
GROUP BY c.cid, c.cname
ORDER BY total_shipments, total_shipped_value
Answer: The SQL query will return a complete list of all customers with their customer ID, name, the total number of shipments they have received, and the total value of all products they have been shipped. The results will be ordered from the bottom based on the total number of shipments and total shipped value. 1.4791901111602783 0.0022819999999999997
10 Return the products that are shipped more often than the average number of times a product is shipped. Order by number of shipments descending and product id ascending. SELECT p.pid, p.pname, COUNT(sp.sid) AS num_shipments
FROM product p
JOIN shippedproduct sp ON p.pid = sp.pid
GROUP BY p.pid, p.pname
HAVING COUNT(sp.sid) > (SELECT AVG(ship_count) FROM (SELECT pid, COUNT(sid) AS ship_count FROM shippedproduct GROUP BY pid))
ORDER BY num_shipments DESC, p.pid ASC; 1.580245018005371 0.0020210000000000002
11 Return the product names, price, inventory, and inventory value of each product (`price*inventory`) (rename as `inventoryValue`) for products with price greater than `$20`. Order by product name ascending. SELECT pname, price, inventory, price * inventory AS inventoryValue
FROM product
WHERE price > 20
ORDER BY pname ASC; 0.6035661697387695 0.0018249999999999998
12 Return the customer id, name, state, and shipment date for all customers in `'BC'` or `'IA'` that have had a shipment in `2022`. Order by `shipdate` descending and `cname` ascending. SELECT c.cid, c.cname, c.state, s.shipdate
FROM customer c
JOIN shipment s ON c.cid = s.cid
WHERE c.state IN ('BC', 'IA') AND s.shipdate >= TO_DATE('2022-01-01', 'YYYY-MM-DD')
ORDER BY s.shipdate DESC, c.cname ASC; 1.0225379467010498 0.002031
13 Find all customers that either have the word `'street'` in their street address or have no street address.  SELECT *
FROM customer
WHERE address LIKE '%street%' OR address IS NULL; 0.7633030414581299 0.0017360000000000001
14 Return a list of the unique city and states of customers. Order output by `state` descending. SELECT DISTINCT city, state
FROM customer
ORDER BY state DESC; 0.592094898223877 0.0017150000000000002
15 For each city, return the number of customers in that city and the number of shipments for customers in that city. **Hint: COUNT(DISTINCT *field*) may be useful.** Only show cities with at least 2 shipments. Order by number of shipments descending and city ascending. SELECT c.city, COUNT(DISTINCT c.cid) AS num_customers, COUNT(DISTINCT s.sid) AS num_shipments
FROM customer c
JOIN shipment s ON c.cid = s.cid
GROUP BY c.city
HAVING COUNT(DISTINCT s.sid) >= 2
ORDER BY num_shipments DESC, c.city ASC; 0.8808610439300537 0.002057
16 Return the top 5 products for state `'BC'` based on shipment revenue (`amount*price`) for the year `2021`. SELECT p.pname, SUM(sp.amount * pr.price) AS revenue
FROM product p
JOIN shippedproduct sp ON p.pid = sp.pid
JOIN shipment s ON sp.sid = s.sid
JOIN customer c ON s.cid = c.cid
WHERE c.state = 'BC' AND EXTRACT(YEAR FROM s.shipdate) = 2021
GROUP BY p.pname
ORDER BY revenue DESC; 1.0019481182098389 0.0020150000000000003
17 Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after `March 10th, 2022`, and only show products if they have been shipped at least twice. Order by `totalValueShipped` descending. SELECT sp.pid AS product_id, pr.pname AS product_name, COUNT(sp.sid) AS times_shipped, SUM(sp.amount) AS total_shipments, SUM(sp.amount * pr.price) AS totalValueShipped
FROM shippedproduct sp
JOIN product pr ON sp.pid = pr.pid
JOIN shipment s ON sp.sid = s.sid
WHERE s.shipdate > TO_DATE('2022-03-10', 'YYYY-MM-DD')
GROUP BY sp.pid, pr.pname
HAVING COUNT(sp.sid) >= 2
ORDER BY totalValueShipped DESC; 1.783141851425171 0.002286
18 Return pairs of products (only show a pair once) that appear together in the same shipment and have at least an `amount` of 2 in that shipment. Return the number of times the products appear together in a shipment ('numTogether'). Order by `numTogether` descending, then first product name ascending, and second product name ascending. ```sql
SELECT sp1.pid AS product1_id, p1.pname AS product1_name, sp2.pid AS product2_id, p2.pname AS product2_name, COUNT(*) AS numTogether
FROM shippedproduct sp1
JOIN shippedproduct sp2 ON sp1.sid = sp2.sid AND sp1.pid < sp2.pid
JOIN product p1 ON sp1.pid = p1.pid
JOIN product p2 ON sp2.pid = p2.pid
WHERE sp1.amount >= 2 AND sp2.amount >= 2
GROUP BY sp1.pid, p1.pname, sp2.pid, p2.pname
ORDER BY numTogether DESC, p1.pname ASC, p2.pname ASC;
``` 1.5578181743621826 0.002418
19 Return a complete list of  products (`pid`, `pname`), the total number of shipments, and total shipped amount that they have been shipped to customers in `'IA'`. SELECT p.pid, p.pname, COUNT(sp.sid) AS total_shipments, SUM(sp.amount) AS total_shipped_amount
FROM product p
JOIN shippedproduct sp ON p.pid = sp.pid
JOIN shipment s ON sp.sid = s.sid
JOIN customer c ON s.cid = c.cid
WHERE c.state = 'IA'
GROUP BY p.pid, p.pname
ORDER BY total_shipments DESC; 1.289525032043457 0.0020469999999999998
20 Return the customers who have more shipments than the average number of shipments per customer. SELECT c.cid, c.cname, COUNT(s.sid) AS num_shipments
FROM customer c
JOIN shipment s ON c.cid = s.cid
GROUP BY c.cid, c.cname
HAVING COUNT(s.sid) > (SELECT AVG(ship_count) FROM (SELECT cid, COUNT(sid) AS ship_count FROM shipment GROUP BY cid))
ORDER BY num_shipments DESC; 0.9953117370605469 0.001955

[{'id': 1,
  'question': "Return the customer name and address as one field called fullAddress that consists of the address, city, state. Only show customers in 'IA' or 'BC' that have a valid address. Order by customer name ascending.",
  'query_string': "SELECT cname || ', ' || address || ', ' || city || ', ' || state AS fullAddress FROM customer WHERE state IN ('IA', 'BC') AND address IS NOT NULL ORDER BY cname ASC;",
  'type': 'medium',
  'total_tokens': 618,
  'prompt_tokens': 574,
  'completion_tokens': 44,
  'total_cost': 0.001898,
  'time': 0.7979540824890137},
 {'id': 2,
  'question': 'Return the shipment id, shipment date, product id, and amount for all shipments in 2022 where there was a product shipped with an amount greater than 8. Only show a shipment once and order by shipment date descending and amount descending.',
  'query_string': "SELECT s.sid, s.shipdate, sp.pid, sp.amount FROM shipment s JOIN shippedproduct sp ON s.sid = sp.sid WHERE s.shipdate >= TO_DATE('2022-01-01', 'YYYY-MM-DD') AND s.shipdate < TO_DATE('2023-01-01', 'YYYY-MM-DD') AND sp.amount > 8 ORDER BY s.shipdate DESC, sp.amount DESC;",
  'type': 'medium',
  'total_tokens': 668,
  'prompt_tokens': 578,
  'completion_tokens': 90,
  'total_cost': 0.002094,
  'time': 2.002218008041382},
 {'id': 3,
  'question': "Find all customers that have an 'R' or 'T' in their name and have a state of 'MI' or 'IA'. Order by customer name descending.",
  'query_string': "SELECT cname, state FROM customer WHERE (cname LIKE '%R%' OR cname LIKE '%T%') AND (state = 'MI' OR state = 'IA') ORDER BY cname DESC;",
  'type': 'simple',
  'total_tokens': 606,
  'prompt_tokens': 563,
  'completion_tokens': 43,
  'total_cost': 0.001861,
  'time': 0.8394169807434082},
 {'id': 4,
  'question': 'Return a list of the unique product id and names that have shipped before with an amount less than 5 and order by product id descending.',
  'query_string': 'SELECT DISTINCT sp.pid, p.pname  FROM shippedproduct sp  JOIN product p ON sp.pid = p.pid  WHERE sp.amount < 5  ORDER BY sp.pid DESC;',
  'type': 'simple',
  'total_tokens': 597,
  'prompt_tokens': 557,
  'completion_tokens': 40,
  'total_cost': 0.0018310000000000002,
  'time': 0.6641819477081299},
 {'id': 5,
  'question': 'For each state, return the number of customers in that state and the number of shipments for customers in that state. Only show states with at least 2 shipments. Order by number of shipments descending.',
  'query_string': 'SELECT c.state, COUNT(DISTINCT c.cid) AS num_customers, COUNT(DISTINCT s.sid) AS num_shipments FROM customer c JOIN shipment s ON c.cid = s.cid GROUP BY c.state HAVING COUNT(DISTINCT s.sid) >= 2 ORDER BY num_shipments DESC;',
  'type': 'medium',
  'total_tokens': 639,
  'prompt_tokens': 569,
  'completion_tokens': 70,
  'total_cost': 0.001987,
  'time': 1.211320161819458},
 {'id': 6,
  'question': "Return the top 3 products for state 'AB' based on shipment revenue (amount*price) for the year 2022.",
  'query_string': "SELECT p.pname, SUM(sp.amount * pr.price) AS revenue FROM product p JOIN shippedproduct sp ON p.pid = sp.pid JOIN shipment s ON sp.sid = s.sid JOIN customer c ON s.cid = c.cid WHERE c.state = 'AB' AND EXTRACT(YEAR FROM s.shipdate) = 2022 GROUP BY p.pname ORDER BY revenue DESC FETCH FIRST 3 ROWS ONLY;",
  'type': 'complex',
  'total_tokens': 650,
  'prompt_tokens': 556,
  'completion_tokens': 94,
  'total_cost': 0.0020440000000000002,
  'time': 1.03031587600708},
 {'id': 7,
  'question': 'Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after September 1st, 2021, and only show products if they have been shipped at least three times and have a totalValueShipped > $110. Order by totalAmountShipped ascending.',
  'query_string': "SELECT sp.pid AS product_id,         p.pname AS product_name,         COUNT(sp.sid) AS times_shipped,         SUM(sp.amount) AS total_amount_shipped,         SUM(sp.amount * pr.price) AS total_value_shipped FROM shippedproduct sp JOIN product p ON sp.pid = p.pid JOIN shipment s ON sp.sid = s.sid JOIN product pr ON sp.pid = pr.pid WHERE s.shipdate > TO_DATE('2021-09-01', 'YYYY-MM-DD') GROUP BY sp.pid, p.pname HAVING COUNT(sp.sid) >= 3 AND SUM(sp.amount * pr.price) > 110 ORDER BY total_amount_shipped ASC;",
  'type': 'complex',
  'total_tokens': 760,
  'prompt_tokens': 610,
  'completion_tokens': 150,
  'total_cost': 0.00243,
  'time': 1.5682780742645264},
 {'id': 8,
  'question': 'Return pairs of customers (only show a pair once) that have been shipped the same product. Return the number of times the pair of customers have been shipped the same product (numShippedProducts). Order by numShippedProducts descending, then first customer name ascending, and second customer name ascending. Show customer pairs that have 5 or more times that they have been shipped the same product.',
  'query_string': 'SQL Query to run: ```sql SELECT c1.cname AS customer1, c2.cname AS customer2, COUNT(sp1.pid) AS numShippedProducts FROM customer c1 JOIN shipment s1 ON c1.cid = s1.cid JOIN shippedproduct sp1 ON s1.sid = sp1.sid JOIN shippedproduct sp2 ON sp1.pid = sp2.pid AND sp1.sid <> sp2.sid JOIN shipment s2 ON sp2.sid = s2.sid JOIN customer c2 ON s2.cid = c2.cid GROUP BY c1.cname, c2.cname HAVING COUNT(sp1.pid) >= 5 ORDER BY numShippedProducts DESC, customer1 ASC, customer2 ASC; ```',
  'type': 'complex',
  'total_tokens': 768,
  'prompt_tokens': 608,
  'completion_tokens': 160,
  'total_cost': 0.002464,
  'time': 1.8858551979064941},
 {'id': 9,
  'question': 'Return a complete list of all customers (cid, cname), the total number of shipments, and total shipped value (amount*price) that they have been shipped. Return the bottom',
  'query_string': 'SELECT c.cid, c.cname, COUNT(s.sid) AS total_shipments, SUM(sp.amount * p.price) AS total_shipped_value FROM customer c JOIN shipment s ON c.cid = s.cid JOIN shippedproduct sp ON s.sid = sp.sid JOIN product p ON sp.pid = p.pid GROUP BY c.cid, c.cname ORDER BY total_shipments, total_shipped_value Answer: The SQL query will return a complete list of all customers with their customer ID, name, the total number of shipments they have received, and the total value of all products they have been shipped. The results will be ordered from the bottom based on the total number of shipments and total shipped value.',
  'type': 'complex',
  'total_tokens': 712,
  'prompt_tokens': 566,
  'completion_tokens': 146,
  'total_cost': 0.0022819999999999997,
  'time': 1.4791901111602783},
 {'id': 10,
  'question': 'Return the products that are shipped more often than the average number of times a product is shipped. Order by number of shipments descending and product id ascending.',
  'query_string': 'SELECT p.pid, p.pname, COUNT(sp.sid) AS num_shipments FROM product p JOIN shippedproduct sp ON p.pid = sp.pid GROUP BY p.pid, p.pname HAVING COUNT(sp.sid) > (SELECT AVG(ship_count) FROM (SELECT pid, COUNT(sid) AS ship_count FROM shippedproduct GROUP BY pid)) ORDER BY num_shipments DESC, p.pid ASC;',
  'type': 'complex',
  'total_tokens': 645,
  'prompt_tokens': 559,
  'completion_tokens': 86,
  'total_cost': 0.0020210000000000002,
  'time': 1.580245018005371},
 {'id': 11,
  'question': 'Return the product names, price, inventory, and inventory value of each product (`price*inventory`) (rename as `inventoryValue`) for products with price greater than `$20`. Order by product name ascending.',
  'query_string': 'SELECT pname, price, inventory, price * inventory AS inventoryValue FROM product WHERE price > 20 ORDER BY pname ASC;',
  'type': 'simple',
  'total_tokens': 599,
  'prompt_tokens': 571,
  'completion_tokens': 28,
  'total_cost': 0.0018249999999999998,
  'time': 0.6035661697387695},
 {'id': 12,
  'question': "Return the customer id, name, state, and shipment date for all customers in `'BC'` or `'IA'` that have had a shipment in `2022`. Order by `shipdate` descending and `cname` ascending.",
  'query_string': "SELECT c.cid, c.cname, c.state, s.shipdate FROM customer c JOIN shipment s ON c.cid = s.cid WHERE c.state IN ('BC', 'IA') AND s.shipdate >= TO_DATE('2022-01-01', 'YYYY-MM-DD') ORDER BY s.shipdate DESC, c.cname ASC;",
  'type': 'medium',
  'total_tokens': 652,
  'prompt_tokens': 577,
  'completion_tokens': 75,
  'total_cost': 0.002031,
  'time': 1.0225379467010498},
 {'id': 13,
  'question': "Find all customers that either have the word `'street'` in their street address or have no street address. ",
  'query_string': "SELECT *  FROM customer WHERE address LIKE '%street%' OR address IS NULL;",
  'type': 'simple',
  'total_tokens': 572,
  'prompt_tokens': 552,
  'completion_tokens': 20,
  'total_cost': 0.0017360000000000001,
  'time': 0.7633030414581299},
 {'id': 14,
  'question': 'Return a list of the unique city and states of customers. Order output by `state` descending.',
  'query_string': 'SELECT DISTINCT city, state FROM customer ORDER BY state DESC;',
  'type': 'simple',
  'total_tokens': 566,
  'prompt_tokens': 549,
  'completion_tokens': 17,
  'total_cost': 0.0017150000000000002,
  'time': 0.592094898223877},
 {'id': 15,
  'question': 'For each city, return the number of customers in that city and the number of shipments for customers in that city. **Hint: COUNT(DISTINCT *field*) may be useful.** Only show cities with at least 2 shipments. Order by number of shipments descending and city ascending.',
  'query_string': 'SELECT c.city, COUNT(DISTINCT c.cid) AS num_customers, COUNT(DISTINCT s.sid) AS num_shipments FROM customer c JOIN shipment s ON c.cid = s.cid GROUP BY c.city HAVING COUNT(DISTINCT s.sid) >= 2 ORDER BY num_shipments DESC, c.city ASC;',
  'type': 'medium',
  'total_tokens': 661,
  'prompt_tokens': 587,
  'completion_tokens': 74,
  'total_cost': 0.002057,
  'time': 0.8808610439300537},
 {'id': 16,
  'question': "Return the top 5 products for state `'BC'` based on shipment revenue (`amount*price`) for the year `2021`.",
  'query_string': "SELECT p.pname, SUM(sp.amount * pr.price) AS revenue FROM product p JOIN shippedproduct sp ON p.pid = sp.pid JOIN shipment s ON sp.sid = s.sid JOIN customer c ON s.cid = c.cid WHERE c.state = 'BC' AND EXTRACT(YEAR FROM s.shipdate) = 2021 GROUP BY p.pname ORDER BY revenue DESC;",
  'type': 'medium',
  'total_tokens': 643,
  'prompt_tokens': 557,
  'completion_tokens': 86,
  'total_cost': 0.0020150000000000003,
  'time': 1.0019481182098389},
 {'id': 17,
  'question': 'Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after `March 10th, 2022`, and only show products if they have been shipped at least twice. Order by `totalValueShipped` descending.',
  'query_string': "SELECT sp.pid AS product_id, pr.pname AS product_name, COUNT(sp.sid) AS times_shipped, SUM(sp.amount) AS total_shipments, SUM(sp.amount * pr.price) AS totalValueShipped FROM shippedproduct sp JOIN product pr ON sp.pid = pr.pid JOIN shipment s ON sp.sid = s.sid WHERE s.shipdate > TO_DATE('2022-03-10', 'YYYY-MM-DD') GROUP BY sp.pid, pr.pname HAVING COUNT(sp.sid) >= 2 ORDER BY totalValueShipped DESC;",
  'type': 'complex',
  'total_tokens': 722,
  'prompt_tokens': 602,
  'completion_tokens': 120,
  'total_cost': 0.002286,
  'time': 1.783141851425171},
 {'id': 18,
  'question': "Return pairs of products (only show a pair once) that appear together in the same shipment and have at least an `amount` of 2 in that shipment. Return the number of times the products appear together in a shipment ('numTogether'). Order by `numTogether` descending, then first product name ascending, and second product name ascending.",
  'query_string': '```sql SELECT sp1.pid AS product1_id, p1.pname AS product1_name, sp2.pid AS product2_id, p2.pname AS product2_name, COUNT(*) AS numTogether FROM shippedproduct sp1 JOIN shippedproduct sp2 ON sp1.sid = sp2.sid AND sp1.pid < sp2.pid JOIN product p1 ON sp1.pid = p1.pid JOIN product p2 ON sp2.pid = p2.pid WHERE sp1.amount >= 2 AND sp2.amount >= 2 GROUP BY sp1.pid, p1.pname, sp2.pid, p2.pname ORDER BY numTogether DESC, p1.pname ASC, p2.pname ASC; ```',
  'type': 'complex',
  'total_tokens': 754,
  'prompt_tokens': 598,
  'completion_tokens': 156,
  'total_cost': 0.002418,
  'time': 1.5578181743621826},
 {'id': 19,
  'question': "Return a complete list of  products (`pid`, `pname`), the total number of shipments, and total shipped amount that they have been shipped to customers in `'IA'`.",
  'query_string': "SELECT p.pid, p.pname, COUNT(sp.sid) AS total_shipments, SUM(sp.amount) AS total_shipped_amount FROM product p JOIN shippedproduct sp ON p.pid = sp.pid JOIN shipment s ON sp.sid = s.sid JOIN customer c ON s.cid = c.cid WHERE c.state = 'IA' GROUP BY p.pid, p.pname ORDER BY total_shipments DESC;",
  'type': 'complex',
  'total_tokens': 653,
  'prompt_tokens': 565,
  'completion_tokens': 88,
  'total_cost': 0.0020469999999999998,
  'time': 1.289525032043457},
 {'id': 20,
  'question': 'Return the customers who have more shipments than the average number of shipments per customer.',
  'query_string': 'SELECT c.cid, c.cname, COUNT(s.sid) AS num_shipments FROM customer c JOIN shipment s ON c.cid = s.cid GROUP BY c.cid, c.cname HAVING COUNT(s.sid) > (SELECT AVG(ship_count) FROM (SELECT cid, COUNT(sid) AS ship_count FROM shipment GROUP BY cid)) ORDER BY num_shipments DESC;',
  'type': 'complex',
  'total_tokens': 625,
  'prompt_tokens': 545,
  'completion_tokens': 80,
  'total_cost': 0.001955,
  'time': 0.9953117370605469}]

In [61]:
queries=read_queries()
queries

[{'id': 1,
  'question': "Return the customer name and address as one field called fullAddress that consists of the address, city, state. Only show customers in 'IA' or 'BC' that have a valid address. Order by customer name ascending.",
  'query_string': "SELECT cname || ', ' || address || ', ' || city || ', ' || state AS fullAddress FROM customer WHERE state IN ('IA', 'BC') AND address IS NOT NULL ORDER BY cname ASC;",
  'type': 'medium',
  'total_tokens': 618,
  'prompt_tokens': 574,
  'completion_tokens': 44,
  'total_cost': 0.001898,
  'time': 0.7979540824890137},
 {'id': 2,
  'question': 'Return the shipment id, shipment date, product id, and amount for all shipments in 2022 where there was a product shipped with an amount greater than 8. Only show a shipment once and order by shipment date descending and amount descending.',
  'query_string': "SELECT s.sid, s.shipdate, sp.pid, sp.amount FROM shipment s JOIN shippedproduct sp ON s.sid = sp.sid WHERE s.shipdate >= TO_DATE('2022-01-01', 'YYYY-MM-DD') AND s.shipdate < TO_DATE('2023-01-01', 'YYYY-MM-DD') AND sp.amount > 8 ORDER BY s.shipdate DESC, sp.amount DESC;",
  'type': 'medium',
  'total_tokens': 668,
  'prompt_tokens': 578,
  'completion_tokens': 90,
  'total_cost': 0.002094,
  'time': 2.002218008041382},
 {'id': 3,
  'question': "Find all customers that have an 'R' or 'T' in their name and have a state of 'MI' or 'IA'. Order by customer name descending.",
  'query_string': "SELECT cname, state FROM customer WHERE (cname LIKE '%R%' OR cname LIKE '%T%') AND (state = 'MI' OR state = 'IA') ORDER BY cname DESC;",
  'type': 'simple',
  'total_tokens': 606,
  'prompt_tokens': 563,
  'completion_tokens': 43,
  'total_cost': 0.001861,
  'time': 0.8394169807434082},
 {'id': 4,
  'question': 'Return a list of the unique product id and names that have shipped before with an amount less than 5 and order by product id descending.',
  'query_string': 'SELECT DISTINCT sp.pid, p.pname  FROM shippedproduct sp  JOIN product p ON sp.pid = p.pid  WHERE sp.amount < 5  ORDER BY sp.pid DESC;',
  'type': 'simple',
  'total_tokens': 597,
  'prompt_tokens': 557,
  'completion_tokens': 40,
  'total_cost': 0.0018310000000000002,
  'time': 0.6641819477081299},
 {'id': 5,
  'question': 'For each state, return the number of customers in that state and the number of shipments for customers in that state. Only show states with at least 2 shipments. Order by number of shipments descending.',
  'query_string': 'SELECT c.state, COUNT(DISTINCT c.cid) AS num_customers, COUNT(DISTINCT s.sid) AS num_shipments FROM customer c JOIN shipment s ON c.cid = s.cid GROUP BY c.state HAVING COUNT(DISTINCT s.sid) >= 2 ORDER BY num_shipments DESC;',
  'type': 'medium',
  'total_tokens': 639,
  'prompt_tokens': 569,
  'completion_tokens': 70,
  'total_cost': 0.001987,
  'time': 1.211320161819458},
 {'id': 6,
  'question': "Return the top 3 products for state 'AB' based on shipment revenue (amount*price) for the year 2022.",
  'query_string': "SELECT p.pname, SUM(sp.amount * pr.price) AS revenue FROM product p JOIN shippedproduct sp ON p.pid = sp.pid JOIN shipment s ON sp.sid = s.sid JOIN customer c ON s.cid = c.cid WHERE c.state = 'AB' AND EXTRACT(YEAR FROM s.shipdate) = 2022 GROUP BY p.pname ORDER BY revenue DESC FETCH FIRST 3 ROWS ONLY;",
  'type': 'complex',
  'total_tokens': 650,
  'prompt_tokens': 556,
  'completion_tokens': 94,
  'total_cost': 0.0020440000000000002,
  'time': 1.03031587600708},
 {'id': 7,
  'question': 'Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after September 1st, 2021, and only show products if they have been shipped at least three times and have a totalValueShipped > $110. Order by totalAmountShipped ascending.',
  'query_string': "SELECT sp.pid AS product_id,         p.pname AS product_name,         COUNT(sp.sid) AS times_shipped,         SUM(sp.amount) AS total_amount_shipped,         SUM(sp.amount * pr.price) AS total_value_shipped FROM shippedproduct sp JOIN product p ON sp.pid = p.pid JOIN shipment s ON sp.sid = s.sid JOIN product pr ON sp.pid = pr.pid WHERE s.shipdate > TO_DATE('2021-09-01', 'YYYY-MM-DD') GROUP BY sp.pid, p.pname HAVING COUNT(sp.sid) >= 3 AND SUM(sp.amount * pr.price) > 110 ORDER BY total_amount_shipped ASC;",
  'type': 'complex',
  'total_tokens': 760,
  'prompt_tokens': 610,
  'completion_tokens': 150,
  'total_cost': 0.00243,
  'time': 1.5682780742645264},
 {'id': 8,
  'question': 'Return pairs of customers (only show a pair once) that have been shipped the same product. Return the number of times the pair of customers have been shipped the same product (numShippedProducts). Order by numShippedProducts descending, then first customer name ascending, and second customer name ascending. Show customer pairs that have 5 or more times that they have been shipped the same product.',
  'query_string': 'SQL Query to run: ```sql SELECT c1.cname AS customer1, c2.cname AS customer2, COUNT(sp1.pid) AS numShippedProducts FROM customer c1 JOIN shipment s1 ON c1.cid = s1.cid JOIN shippedproduct sp1 ON s1.sid = sp1.sid JOIN shippedproduct sp2 ON sp1.pid = sp2.pid AND sp1.sid <> sp2.sid JOIN shipment s2 ON sp2.sid = s2.sid JOIN customer c2 ON s2.cid = c2.cid GROUP BY c1.cname, c2.cname HAVING COUNT(sp1.pid) >= 5 ORDER BY numShippedProducts DESC, customer1 ASC, customer2 ASC; ```',
  'type': 'complex',
  'total_tokens': 768,
  'prompt_tokens': 608,
  'completion_tokens': 160,
  'total_cost': 0.002464,
  'time': 1.8858551979064941},
 {'id': 9,
  'question': 'Return a complete list of all customers (cid, cname), the total number of shipments, and total shipped value (amount*price) that they have been shipped. Return the bottom',
  'query_string': 'SELECT c.cid, c.cname, COUNT(s.sid) AS total_shipments, SUM(sp.amount * p.price) AS total_shipped_value FROM customer c JOIN shipment s ON c.cid = s.cid JOIN shippedproduct sp ON s.sid = sp.sid JOIN product p ON sp.pid = p.pid GROUP BY c.cid, c.cname ORDER BY total_shipments, total_shipped_value Answer: The SQL query will return a complete list of all customers with their customer ID, name, the total number of shipments they have received, and the total value of all products they have been shipped. The results will be ordered from the bottom based on the total number of shipments and total shipped value.',
  'type': 'complex',
  'total_tokens': 712,
  'prompt_tokens': 566,
  'completion_tokens': 146,
  'total_cost': 0.0022819999999999997,
  'time': 1.4791901111602783},
 {'id': 10,
  'question': 'Return the products that are shipped more often than the average number of times a product is shipped. Order by number of shipments descending and product id ascending.',
  'query_string': 'SELECT p.pid, p.pname, COUNT(sp.sid) AS num_shipments FROM product p JOIN shippedproduct sp ON p.pid = sp.pid GROUP BY p.pid, p.pname HAVING COUNT(sp.sid) > (SELECT AVG(ship_count) FROM (SELECT pid, COUNT(sid) AS ship_count FROM shippedproduct GROUP BY pid)) ORDER BY num_shipments DESC, p.pid ASC;',
  'type': 'complex',
  'total_tokens': 645,
  'prompt_tokens': 559,
  'completion_tokens': 86,
  'total_cost': 0.0020210000000000002,
  'time': 1.580245018005371},
 {'id': 11,
  'question': 'Return the product names, price, inventory, and inventory value of each product (`price*inventory`) (rename as `inventoryValue`) for products with price greater than `$20`. Order by product name ascending.',
  'query_string': 'SELECT pname, price, inventory, price * inventory AS inventoryValue FROM product WHERE price > 20 ORDER BY pname ASC;',
  'type': 'simple',
  'total_tokens': 599,
  'prompt_tokens': 571,
  'completion_tokens': 28,
  'total_cost': 0.0018249999999999998,
  'time': 0.6035661697387695},
 {'id': 12,
  'question': "Return the customer id, name, state, and shipment date for all customers in `'BC'` or `'IA'` that have had a shipment in `2022`. Order by `shipdate` descending and `cname` ascending.",
  'query_string': "SELECT c.cid, c.cname, c.state, s.shipdate FROM customer c JOIN shipment s ON c.cid = s.cid WHERE c.state IN ('BC', 'IA') AND s.shipdate >= TO_DATE('2022-01-01', 'YYYY-MM-DD') ORDER BY s.shipdate DESC, c.cname ASC;",
  'type': 'medium',
  'total_tokens': 652,
  'prompt_tokens': 577,
  'completion_tokens': 75,
  'total_cost': 0.002031,
  'time': 1.0225379467010498},
 {'id': 13,
  'question': "Find all customers that either have the word `'street'` in their street address or have no street address. ",
  'query_string': "SELECT *  FROM customer WHERE address LIKE '%street%' OR address IS NULL;",
  'type': 'simple',
  'total_tokens': 572,
  'prompt_tokens': 552,
  'completion_tokens': 20,
  'total_cost': 0.0017360000000000001,
  'time': 0.7633030414581299},
 {'id': 14,
  'question': 'Return a list of the unique city and states of customers. Order output by `state` descending.',
  'query_string': 'SELECT DISTINCT city, state FROM customer ORDER BY state DESC;',
  'type': 'simple',
  'total_tokens': 566,
  'prompt_tokens': 549,
  'completion_tokens': 17,
  'total_cost': 0.0017150000000000002,
  'time': 0.592094898223877},
 {'id': 15,
  'question': 'For each city, return the number of customers in that city and the number of shipments for customers in that city. **Hint: COUNT(DISTINCT *field*) may be useful.** Only show cities with at least 2 shipments. Order by number of shipments descending and city ascending.',
  'query_string': 'SELECT c.city, COUNT(DISTINCT c.cid) AS num_customers, COUNT(DISTINCT s.sid) AS num_shipments FROM customer c JOIN shipment s ON c.cid = s.cid GROUP BY c.city HAVING COUNT(DISTINCT s.sid) >= 2 ORDER BY num_shipments DESC, c.city ASC;',
  'type': 'medium',
  'total_tokens': 661,
  'prompt_tokens': 587,
  'completion_tokens': 74,
  'total_cost': 0.002057,
  'time': 0.8808610439300537},
 {'id': 16,
  'question': "Return the top 5 products for state `'BC'` based on shipment revenue (`amount*price`) for the year `2021`.",
  'query_string': "SELECT p.pname, SUM(sp.amount * pr.price) AS revenue FROM product p JOIN shippedproduct sp ON p.pid = sp.pid JOIN shipment s ON sp.sid = s.sid JOIN customer c ON s.cid = c.cid WHERE c.state = 'BC' AND EXTRACT(YEAR FROM s.shipdate) = 2021 GROUP BY p.pname ORDER BY revenue DESC;",
  'type': 'medium',
  'total_tokens': 643,
  'prompt_tokens': 557,
  'completion_tokens': 86,
  'total_cost': 0.0020150000000000003,
  'time': 1.0019481182098389},
 {'id': 17,
  'question': 'Return a list of products (id and name) along with the number of times it has been shipped, the total amount of all shipments, and the total value of all shipments. Only consider shipments after `March 10th, 2022`, and only show products if they have been shipped at least twice. Order by `totalValueShipped` descending.',
  'query_string': "SELECT sp.pid AS product_id, pr.pname AS product_name, COUNT(sp.sid) AS times_shipped, SUM(sp.amount) AS total_shipments, SUM(sp.amount * pr.price) AS totalValueShipped FROM shippedproduct sp JOIN product pr ON sp.pid = pr.pid JOIN shipment s ON sp.sid = s.sid WHERE s.shipdate > TO_DATE('2022-03-10', 'YYYY-MM-DD') GROUP BY sp.pid, pr.pname HAVING COUNT(sp.sid) >= 2 ORDER BY totalValueShipped DESC;",
  'type': 'complex',
  'total_tokens': 722,
  'prompt_tokens': 602,
  'completion_tokens': 120,
  'total_cost': 0.002286,
  'time': 1.783141851425171},
 {'id': 18,
  'question': "Return pairs of products (only show a pair once) that appear together in the same shipment and have at least an `amount` of 2 in that shipment. Return the number of times the products appear together in a shipment ('numTogether'). Order by `numTogether` descending, then first product name ascending, and second product name ascending.",
  'query_string': '```sql SELECT sp1.pid AS product1_id, p1.pname AS product1_name, sp2.pid AS product2_id, p2.pname AS product2_name, COUNT(*) AS numTogether FROM shippedproduct sp1 JOIN shippedproduct sp2 ON sp1.sid = sp2.sid AND sp1.pid < sp2.pid JOIN product p1 ON sp1.pid = p1.pid JOIN product p2 ON sp2.pid = p2.pid WHERE sp1.amount >= 2 AND sp2.amount >= 2 GROUP BY sp1.pid, p1.pname, sp2.pid, p2.pname ORDER BY numTogether DESC, p1.pname ASC, p2.pname ASC; ```',
  'type': 'complex',
  'total_tokens': 754,
  'prompt_tokens': 598,
  'completion_tokens': 156,
  'total_cost': 0.002418,
  'time': 1.5578181743621826},
 {'id': 19,
  'question': "Return a complete list of  products (`pid`, `pname`), the total number of shipments, and total shipped amount that they have been shipped to customers in `'IA'`.",
  'query_string': "SELECT p.pid, p.pname, COUNT(sp.sid) AS total_shipments, SUM(sp.amount) AS total_shipped_amount FROM product p JOIN shippedproduct sp ON p.pid = sp.pid JOIN shipment s ON sp.sid = s.sid JOIN customer c ON s.cid = c.cid WHERE c.state = 'IA' GROUP BY p.pid, p.pname ORDER BY total_shipments DESC;",
  'type': 'complex',
  'total_tokens': 653,
  'prompt_tokens': 565,
  'completion_tokens': 88,
  'total_cost': 0.0020469999999999998,
  'time': 1.289525032043457},
 {'id': 20,
  'question': 'Return the customers who have more shipments than the average number of shipments per customer.',
  'query_string': 'SELECT c.cid, c.cname, COUNT(s.sid) AS num_shipments FROM customer c JOIN shipment s ON c.cid = s.cid GROUP BY c.cid, c.cname HAVING COUNT(s.sid) > (SELECT AVG(ship_count) FROM (SELECT cid, COUNT(sid) AS ship_count FROM shipment GROUP BY cid)) ORDER BY num_shipments DESC;',
  'type': 'complex',
  'total_tokens': 625,
  'prompt_tokens': 545,
  'completion_tokens': 80,
  'total_cost': 0.001955,
  'time': 0.9953117370605469}]

## Prompt Generated by Langchain

In [62]:
# sql_query_chain_prompt = query_chain.middle[1].template.format(table_info=db.get_table_info(), top_k=0, input="{input}")
sql_query_chain_prompt = PROMPT.format(
    table_info=db.get_table_info(), 
    top_k=0, 
    input="{input}"
)

print(sql_query_chain_prompt)

You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, don't query for at 0 most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today".

Some hints:
- Don't use double quotes in column name
-
Example:
`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`
- Don't use LEFT JOIN, only JOIN

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE customer (
	cid NUMBER NOT NULL,
	cname VARCHAR(30 CHAR),
	address VARCHAR(50 CHAR),
	city VARCHAR(30 CHAR),
	state CHAR(2),
	CONSTRAINT sys_c008700 PRIMARY KEY (cid)
)
 TABLESPACE "USERS"


CREATE TABLE product (
	pid NUMBER NOT NULL,
	pname VARCHAR(30 CHAR),
	price NUMBER(9, 2),
	inventory NUMBER,
	CONSTRAINT sys_c008701 PRIMARY KEY (pid)
)
 TABLESPACE "USERS"


CREATE TABLE shipment (
	sid NUMBER NOT NULL,
	cid NUMBER,
	shipdate DATE,
	CONSTRAINT sys_c008702 PRIMARY KEY (sid),
	CONSTRAINT sys_c008703 FOREIGN KEY(cid) REFERENCES customer (cid)
)
 TABLESPACE "USERS"


CREATE TABLE shippedproduct (
	sid NUMBER NOT NULL,
	pid NUMBER NOT NULL,
	amount NUMBER,
	CONSTRAINT sys_c008704 PRIMARY KEY (sid, pid),
	CONSTRAINT sys_c008705 FOREIGN KEY(sid) REFERENCES shipment (sid),
	CONSTRAINT sys_c008706 FOREIGN KEY(pid) REFERENCES product (pid)
)
 TABLESPACE "USERS"

Question: {input}

In [63]:

f = open(f"prompt_generated_by_langchain_{SCHEMA}_fk.txt", "w")
f.write(sql_query_chain_prompt)
f.close()

#### Fixing queries

In [64]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
            start_time = time.time()
            sql_query = query_chain.invoke({"question":instance["question"]})
            end_time = time.time()
            instance["query_string"] = sql_query
            instance['total_tokens'] = cb.total_tokens
            instance['prompt_tokens'] = cb.prompt_tokens
            instance['completion_tokens'] = cb.completion_tokens
            instance['total_cost'] = cb.total_cost
            instance['time'] = end_time - start_time
            q[pos] = instance
            print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
            save_queries(q)

IndexError: list index out of range