# SQLQUeryChain - Mondial - Foreign Key - GPT 3.5

In [1]:

from langchain.sql_database import SQLDatabase

from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain
from urllib.parse import quote  
from langchain.callbacks import get_openai_callback
import time
from dotenv import load_dotenv
import os
import sys
import json
load_dotenv()

experiment_path = '../..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"/functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

/Users/moon/Documents/text_to_sql_byLLM/experiments/SQLQueryChain/../..

# Schema

In [2]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'

FILE_NAME_RESULT = f"results/9_sql_queries_chatgpt_{SCHEMA}_fk.json"

In [3]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Connection

In [4]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

{'DB_HOST': 'localhost',
 'DB_PORT': '1521',
 'DB_USER_NAME': 'MONDIAL',
 'DB_PASS': 'oraclee',
 'DB_NAME': 'XE',
 'SQL_DRIVER': 'oracle+oracledb',
 'SERVICE_NAME': 'XE',
 'SCHEMA': 'MONDIAL_GPT',
 'KEYWORD_SEARCH_API_URL': ''}

### Using SQLDatabase to get all the information from the database

In [5]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

/Users/moon/.pyenv/versions/3.11.9/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py:123: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
/Users/moon/.pyenv/versions/3.11.9/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py:123: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
/Users/moon/.pyenv/versions/3.11.9/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py:123: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea',
 'spoken']

In [6]:
len(include_tables)

47

## Creating the prompt

In [7]:
from langchain.prompts.prompt import PromptTemplate

f = open(f"prompts/prompt_template_sql_query_chain.txt", "r")
prompt_template = f.read()
f.close()


PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(PROMPT)

input_variables=['input', 'table_info', 'top_k'] input_types={} partial_variables={} template='You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, don\'t query for at {top_k} most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today". \n\nSome hints:\n- Don\'t use double quotes in column name\n- \nExample:\n`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`\n- Don\'t use LEFT JOIN, only JOIN\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}'

## Creating Chain to generate SQL

In [8]:
query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-3.5-turbo-16k'), db.db, prompt=PROMPT)

/var/folders/kx/wkj277mn40l1tfsr93zdwd280000gn/T/ipykernel_72919/771061558.py:1: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import ChatOpenAI``.
  query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-3.5-turbo-16k'), db.db, prompt=PROMPT)

### Test: query and Number of Tokens

In [9]:
with get_openai_callback() as cb:
    sql_query = query_chain.invoke({"question":"What are the provinces with an area more than 10000?"})
    
    print(cb.total_tokens)
    print(cb.prompt_tokens)
    print(cb.completion_tokens)
    print(cb.total_cost)
sql_query

4213
4193
20
0.012659

'SELECT name, country, area\nFROM province\nWHERE area > 10000;'

In [10]:
with get_openai_callback() as cb:
    sql_query = query_chain.invoke({"question":"What are the languages spoken in Poland?"})
    print(cb.total_tokens)
    print(cb.prompt_tokens)
    print(cb.completion_tokens)
    print(cb.total_cost)
sql_query

4221
4188
33
0.012695999999999999

"SELECT name\nFROM language\nWHERE name IN (\n    SELECT language\n    FROM spoken\n    WHERE country = 'POL'\n)\nORDER BY name;"

## Preparing natural language queries to run in LLM

In [11]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigris River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Running queries in LLM to generate SQL

In [12]:

# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.
import warnings
from sqlalchemy import exc

# Suppress SAWarning
warnings.filterwarnings("ignore", category=exc.SAWarning, message=".*Cannot correctly sort tables.*")

# Your code here



number_of_queries_to_delay = 25
count = 0
for instance in queries:
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(10)
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = query_chain.invoke({"question":instance["question"]})
        end_time = time.time()
        instance["query_string"] = sql_query
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    count += 1
queries

1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand'; 3.0832347869873047 0.012617000000000001
2 What are the provinces with an area greater than 10000? SELECT name, country, area
FROM province
WHERE area > 10000; 1.0262291431427002 0.012659
3 What are the languages spoken in Poland? SELECT name
FROM language
WHERE name IN (
    SELECT language
    FROM spoken
    WHERE country = 'POL'
)
ORDER BY name; 7.529034852981567 0.012695999999999999
4 How deep is Lake Kariba? SELECT depth FROM lake WHERE name = 'Lake Kariba'; 1.1658940315246582 0.012621
5 What is the total of provinces of Netherlands? SELECT COUNT(name)
FROM province
WHERE country = 'NL'; 0.6863560676574707 0.012635
6 What is the percentage of religious people are hindu in thailand? SELECT percentage
FROM religion
WHERE country = 'THA' AND name = 'Hindu' 0.5334818363189697 0.012678
7 List the number of provinces each river flows through. SELECT r.name AS river_name, COUNT(DISTINCT p.name) AS num_provinces
FROM river r
JOIN located l ON r.name = l.river
JOIN province p ON l.province = p.name AND l.country = p.country
GROUP BY r.name
ORDER BY num_provinces DESC; 0.931610107421875 0.012834000000000002
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. SELECT country
FROM politics
WHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD') 1.021158218383789 0.012781
9 What are the cities of Cuba? SELECT name
FROM city
WHERE country = 'CUB'; 0.615454912185669 0.012625
10 What is the capital of Georgia? SELECT capital FROM country WHERE name = 'Georgia'; 2.6571741104125977 0.012601000000000001
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(*)
FROM province
WHERE country = 'NER' AND area > 1000; 0.8205790519714355 0.012671
12 Tell me about the country with the area largest. SELECT name, area
FROM country
ORDER BY area DESC; 4.708712816238403 0.012634000000000001
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, TO_CHAR(established, 'YYYY') AS year_of_establishment
FROM organization
WHERE name = 'International Energy Agency' 1.2213749885559082 0.012726000000000001
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name
FROM mountain
WHERE elevation > 1000; 0.8194582462310791 0.012649
15 Tell me the economy of the Caribbean Sea. SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM economy e
JOIN sea s ON e.country = s.name
WHERE s.name = 'Caribbean Sea' 1.0230491161346436 0.012771
16 Show the cities with longitude between 0 and 6. SELECT name, country, province, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6; 1.023902177810669 0.012660000000000001
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT c.name, c.population, c.elevation, p.population_growth
FROM city c
JOIN province pr ON c.province = pr.name AND c.country = pr.country
JOIN population p ON c.country = p.country
WHERE c.population > 100000 AND c.elevation > 2500 AND p.population_growth > 1; 1.4339640140533447 0.012924
18 Show all the different types of government. SELECT DISTINCT government FROM politics 0.49723315238952637 0.012599999999999998
19 List all provinces in Germany SELECT name
FROM province
WHERE country = 'DE' 0.7266156673431396 0.012617999999999999
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage
FROM ethnicgroup
WHERE name = 'Mulatto' AND country = 'BRA' 0.8193862438201904 0.012669
21 How many cities have populations less than 1000? SELECT COUNT(*)
FROM city
WHERE population < 1000 0.6042969226837158 0.012641
22 What is the average elevation of airports in America? SELECT AVG(elevation)
FROM airport
WHERE country = 'USA'; 0.6681849956512451 0.012642
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(DISTINCT country1)
FROM borders
WHERE country2 = 'CARB'
OR country1 = 'CARB' 0.6273560523986816 0.012715
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(c.area)
FROM country c
JOIN borders b ON c.code = b.country1
WHERE b.country2 = 'CARI'
UNION
SELECT SUM(c.area)
FROM country c
JOIN borders b ON c.code = b.country2
WHERE b.country1 = 'CARI'; 1.3609778881072998 0.012873
25 For all countries, give the sum of the population of all its neighbors SELECT c.name AS country, SUM(cp.population) AS total_population_of_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
JOIN country cp ON b.country2 = cp.code
GROUP BY c.name
ORDER BY total_population_of_neighbors DESC; 1.0244531631469727 0.012817
26 What mountains are on the island of Borneo? SELECT mountain.name
FROM mountain
JOIN mountainonisland ON mountain.name = mountainonisland.mountain
JOIN island ON mountainonisland.island = island.name
WHERE island.name = 'Borneo'; 1.1940882205963135 0.012752999999999999
27 Provide the name and total population of the country with the smallest area. SELECT name, population
FROM country
WHERE area = (SELECT MIN(area) FROM country) 0.6770200729370117 0.012669999999999999
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT r.country
FROM river r
JOIN geo_source gs ON r.name = gs.river AND r.country = gs.country
JOIN geo_estuary ge ON r.name = ge.river
WHERE ge.country <> r.country
ORDER BY r.country; 0.9824609756469727 0.012835000000000001
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT p.country
FROM mountain m
JOIN mountainonisland mi ON m.name = mi.mountain
JOIN geo_mountain gm ON m.name = gm.mountain
JOIN province p ON gm.province = p.name AND gm.country = p.country
GROUP BY p.country
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM province WHERE country = p.country)
ORDER BY p.country; 1.2690532207489014 0.012958
30 The code and total border lengths of all countries with at least one border. SELECT c.code, SUM(b.length) AS total_border_length
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.code
ORDER BY total_border_length DESC; 0.8176558017730713 0.012757000000000001
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT c.name, c.code
FROM country c
JOIN river r ON c.code = r.country; 0.8156993389129639 0.012685
32 What is the area and country of the Chatanga River? SELECT area, country FROM river WHERE name = 'Chatanga River'; 0.8173089027404785 0.012644
33 Show the Airports with elevation more than 3000 SELECT name, elevation
FROM airport
WHERE elevation > 3000; 0.6158959865570068 0.012648
34 What are the religions practiced in Mexico? SELECT name
FROM religion
WHERE country = 'MEX' 0.610313892364502 0.012627999999999999
35 Show all rivers that do not flow into the sea. SELECT name
FROM river
WHERE sea IS NULL 0.6134998798370361 0.012629
36 List African countries by number of neighbors. SELECT c.name AS country, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.continent = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC; 1.0209627151489258 0.012771999999999999
37 What is the average infant mortality rate for each continent? SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM continent c
JOIN country co ON c.name = co.continent
JOIN population p ON co.code = p.country
GROUP BY c.name; 0.815140962600708 0.012785
38 What is the average mortality rate of the countries in America without considering Brazil? SELECT AVG(infant_mortality)
FROM population
WHERE country IN (
    SELECT code
    FROM country
    WHERE country NOT IN ('BRA')
    AND country IN (
        SELECT country
        FROM encompasses
        WHERE continent = 'America'
    )
) 1.4334361553192139 0.012821
39 List seas with area greater than 8000 and depth less than 100. SELECT name, area, depth
FROM sea
WHERE area > 8000 AND depth < 100; 1.0202558040618896 0.012688
40 How many mountains are there in Asia? SELECT COUNT(*)
FROM mountain m
JOIN geo_mountain gm ON m.name = gm.mountain
JOIN province p ON gm.province = p.name
JOIN country c ON p.country = c.code
JOIN encompasses e ON c.code = e.country
JOIN continent co ON e.continent = co.name
WHERE co.name = 'Asia' 1.0225868225097656 0.012856
41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(DISTINCT country)
FROM borders
WHERE country1 IN (
    SELECT country
    FROM sea
    WHERE name = 'Mediterranean Sea'
)
OR country2 IN (
    SELECT country
    FROM sea
    WHERE name = 'Mediterranean Sea'
) 1.0150279998779297 0.012832999999999999
42 Show the total for each type of government. SELECT government, COUNT(*) AS total
FROM politics
GROUP BY government; 1.0228219032287598 0.012639
43 Which province has the largest desert in the world? SELECT p.name
FROM province p
JOIN geo_desert gd ON p.name = gd.province
JOIN desert d ON gd.desert = d.name
WHERE d.area = (SELECT MAX(area) FROM desert) 1.0204269886016846 0.012758000000000002
44 What is the largest desert in the world? SELECT name, area
FROM desert
ORDER BY area DESC; 0.615994930267334 0.012631
45 List, for all continents, the amount of deserts on each. SELECT c.name AS continent, COUNT(d.name) AS desert_count
FROM continent c
JOIN desert d ON c.name = d.area
GROUP BY c.name; 0.8130261898040771 0.012726
46 What are the neighboring seas of the Banda Sea? SELECT sea2
FROM mergeswith
WHERE sea1 = 'Banda Sea'; 0.599890947341919 0.012653
47 List all the capitals of European countries. SELECT c.capital
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN continent co ON e.continent = co.name
WHERE co.name = 'Europe' 0.8331589698791504 0.012724
48 What percentage of people speak French in Andorra? SELECT percentage
FROM spoken
WHERE country = 'AD'
AND language = 'French'; 0.8206958770751953 0.012658
49 Which rivers are longer than 1000 kilometers? SELECT name
FROM river
WHERE length > 1000; 0.6065373420715332 0.012634000000000001
50 Which country had the lowest population growth? SELECT country, population_growth
FROM population
ORDER BY population_growth
FETCH FIRST 1 ROW ONLY; 0.8161799907684326 0.012648
51 List the name of capital cities for which we do not have data about the city in located SELECT c.name
FROM city c
LEFT JOIN located l ON c.name = l.city
WHERE l.city IS NULL
ORDER BY c.name; 1.0505430698394775 0.012729
52 What is the capital of the provice Andalucía? SELECT capital FROM province WHERE name = 'Andalucía'; 0.6120672225952148 0.012643
53 What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"? SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions'; 0.6153430938720703 0.012676
54 In which city is the organization with the abbreviation "UPU" ? SELECT city FROM organization WHERE abbreviation = 'UPU' 0.6113479137420654 0.012638
55 List the names of countries which are members of only one organization SELECT country
FROM ismember
GROUP BY country
HAVING COUNT(organization) = 1 1.2279548645019531 0.012675
56 List the name of countries which are not a member of NATO. SELECT name
FROM country
WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO')
ORDER BY name; 0.8222379684448242 0.012699
57 List the name of countries which are a member of NATO. SELECT name
FROM country
WHERE code IN (
    SELECT country
    FROM ismember
    WHERE organization = 'NATO'
)
ORDER BY name; 0.8104262351989746 0.012704
58 List the rivers with length less than 50 SELECT name, length
FROM river
WHERE length < 50; 0.612468957901001 0.012638000000000002
59 What are the area, elevation and type of lakes in country Italy? SELECT name, area, elevation, type
FROM lake
WHERE country = 'ITA'; 0.5778231620788574 0.012666
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT city.name
FROM city
JOIN organization ON city.name = organization.city
WHERE city.name = city.capital
ORDER BY city.name ASC; 0.8543100357055664 0.012715
61 List the name of organizations that do not have countries with an area smaller than 4000 and of the member type SELECT name
FROM organization
WHERE abbreviation NOT IN (
    SELECT DISTINCT country
    FROM country
    WHERE area < 4000
)
AND abbreviation IN (
    SELECT country
    FROM ismember
    WHERE type = 'member'
)
ORDER BY name; 1.020829200744629 0.01284
62 List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type SELECT name
FROM organization
WHERE abbreviation NOT IN (
    SELECT country
    FROM country
    WHERE area > 10000 AND population < 3000
)
AND abbreviation IN (
    SELECT country
    FROM ismember
    WHERE type = 'member'
)
ORDER BY name; 1.0156090259552002 0.012888
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN located l ON c.code = l.country
WHERE l.sea = 'Arabian Sea'
ORDER BY e.inflation DESC; 0.8496267795562744 0.012794
64 List all the capitals of the countries that belong to the continent Africa? SELECT c.capital
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN continent con ON e.continent = con.name
WHERE con.name = 'Africa' 0.7906103134155273 0.012742
65 Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN sea s ON c.name = s.name
WHERE s.name = 'Arabian Sea' AND e.inflation IS NOT NULL; 1.4286930561065674 0.012818000000000001
66 How many countries are in Africa? SELECT COUNT(*) FROM continent WHERE name = 'Africa'; 0.8177847862243652 0.012617000000000001
67 List the name of countries that are not members of NATO and UNESCO SELECT name
FROM country
WHERE code NOT IN (
    SELECT country
    FROM ismember
    WHERE organization IN ('NATO', 'UNESCO')
)
ORDER BY name; 0.8151118755340576 0.012742
68 What is the area of the continent Europe? SELECT area FROM continent WHERE name = 'Europe'; 0.5442390441894531 0.012619
69 What is the area of continent America? SELECT area FROM continent WHERE name = 'America'; 0.6764841079711914 0.012603999999999999
70 What is the area of continent Asia? SELECT area FROM continent WHERE name = 'Asia'; 0.7727348804473877 0.012615999999999999
71 What is the area of Africa? SELECT area FROM continent WHERE name = 'Africa'; 0.6569797992706299 0.012601000000000001
72 How many countries are in America? SELECT COUNT(DISTINCT country) FROM encompasses WHERE continent = 'America' 0.6259448528289795 0.012633
73 What area is the largest continent? SELECT name, area FROM continent ORDER BY area DESC; 0.9204440116882324 0.012617000000000001
74 List the countries that belong to the continent with the largest area SELECT country.name
FROM country
JOIN encompasses ON country.code = encompasses.country
JOIN continent ON encompasses.continent = continent.name
WHERE continent.area = (SELECT MAX(area) FROM continent)
ORDER BY country.name; 0.8063111305236816 0.012751
75 List the countries that belong to the continent with the largest area and whose language is English SELECT c.name
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN continent co ON e.continent = co.name
JOIN language l ON c.code = l.country
WHERE co.area = (SELECT MAX(area) FROM continent)
AND l.name = 'English' 1.118973970413208 0.012838
76 List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population. SELECT c.name AS city, c.country
FROM city c
WHERE c.population > 5000000
ORDER BY c.population DESC; 0.7601680755615234 0.012766000000000003
77 Show the name of the deserts in the province of Algeria SELECT name
FROM desert
JOIN geo_desert ON desert.name = geo_desert.desert
WHERE geo_desert.country = 'DZA' 1.079340934753418 0.012711
78 Show the name and area of the deserts in the province of California SELECT name, area
FROM desert
JOIN geo_desert ON desert.name = geo_desert.desert
WHERE geo_desert.province = 'California' 0.6369729042053223 0.012725
79 List the country names and percentage of use of language where  French are used as languages. SELECT c.name, e.percentage
FROM country c
JOIN spoken e ON c.code = e.country
WHERE e.language = 'French' 0.9501461982727051 0.012722
80 What are the cities where �Portuguese� is spoken? SELECT city
FROM spoken
WHERE language = 'Portuguese' 0.6874599456787109 0.012647
81 What is the total area of the provinces in Canada? SELECT SUM(area) AS total_area
FROM province
WHERE country = 'CA'; 1.7625439167022705 0.012653
82 What is the length of the Tigris River? SELECT length FROM river WHERE name = 'Tigris' 0.6947638988494873 0.012632999999999998
83 List the Airports with elevation more than 1000 SELECT name, elevation
FROM airport
WHERE elevation > 1000; 1.0101971626281738 0.012648
84 List airports in the United States with an elevation below 200 feet SELECT name, elevation
FROM airport
WHERE country = 'USA' AND elevation < 200; 0.5936009883880615 0.012662
85 What are the mountains with altitudes above 8000 meters? SELECT name, elevation
FROM mountain
WHERE elevation > 8000; 0.6249151229858398 0.012650999999999999
86 What are the 3 airports with the largest name? SELECT name
FROM airport
ORDER BY LENGTH(name) DESC
FETCH FIRST 3 ROWS ONLY; 0.8301970958709717 0.012669
87 List lakes with an area of less than 5000 square kilometers. SELECT name, area
FROM lake
WHERE area < 5000; 1.021651029586792 0.012641999999999999
88 What is the total area of the seas with a depth greater than 1000 meters? SELECT SUM(area) AS total_area
FROM sea
WHERE depth > 1000; 0.5280308723449707 0.012678000000000002
89 Find the countries whose name starts with the letter "B" and have a population greater than 10 million SELECT name, population
FROM country
WHERE name LIKE 'B%' AND population > 10000000; 0.6042852401733398 0.012706
90 List cities with another name in Brazil SELECT city, othername
FROM cityothername
WHERE country = 'BR' 0.9312582015991211 0.012643999999999999
91 List all cities that are at a latitude greater than 45 degrees. SELECT name, country, province, latitude
FROM city
WHERE latitude > 45; 0.9938929080963135 0.012666
92 Show the number of cities with another name in countries with an area greater than 30000 SELECT COUNT(DISTINCT city)
FROM city
JOIN country ON city.country = country.code
JOIN cityothername ON city.country = cityothername.country AND city.province = cityothername.province AND city.name = cityothername.city
WHERE country.area > 30000; 1.0205202102661133 0.012845
93 Show the deserts with area greater than 10000 SELECT name, area
FROM desert
WHERE area > 10000; 0.6120822429656982 0.012648
94 List the islands that belong to a lake with an elevation greater than 100 SELECT island
FROM lakeonisland
WHERE lake IN (
    SELECT name
    FROM lake
    WHERE elevation > 100
) 0.8873288631439209 0.012712000000000001
95 List all mountains located on islands with an area greater than 100,000 square kilometers SELECT m.name
FROM mountain m
JOIN mountainonisland mi ON m.name = mi.mountain
JOIN island i ON mi.island = i.name
WHERE i.area > 100000; 0.6583108901977539 0.012766000000000001
96 List the countries and the sum of their provincial areas. SELECT country, SUM(area) AS total_provincial_area
FROM province
GROUP BY country; 0.549793004989624 0.012660999999999999

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand';",
  'type': 'simple',
  'total_tokens': 4201,
  'prompt_tokens': 4187,
  'completion_tokens': 14,
  'total_cost': 0.012617000000000001,
  'time': 3.0832347869873047},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, country, area\nFROM province\nWHERE area > 10000;',
  'type': 'simple',
  'total_tokens': 4213,
  'prompt_tokens': 4193,
  'completion_tokens': 20,
  'total_cost': 0.012659,
  'time': 1.0262291431427002},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE name IN (\n    SELECT language\n    FROM spoken\n    WHERE country = 'POL'\n)\nORDER BY name;",
  'type': 'medium',
  'total_tokens': 4221,
  'prompt_tokens': 4188,
  'completion_tokens': 33,
  'total_cost': 0.012695999999999999,
  'time': 7.529034852981567},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'total_tokens': 4202,
  'prompt_tokens': 4187,
  'completion_tokens': 15,
  'total_cost': 0.012621,
  'time': 1.1658940315246582},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(name) \nFROM province \nWHERE country = 'NL';",
  'type': 'complex',
  'total_tokens': 4206,
  'prompt_tokens': 4189,
  'completion_tokens': 17,
  'total_cost': 0.012635,
  'time': 0.6863560676574707},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage \nFROM religion \nWHERE country = 'THA' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 4218,
  'prompt_tokens': 4194,
  'completion_tokens': 24,
  'total_cost': 0.012678,
  'time': 0.5334818363189697},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name AS river_name, COUNT(DISTINCT p.name) AS num_provinces\nFROM river r\nJOIN located l ON r.name = l.river\nJOIN province p ON l.province = p.name AND l.country = p.country\nGROUP BY r.name\nORDER BY num_provinces DESC;',
  'type': 'medium',
  'total_tokens': 4256,
  'prompt_tokens': 4190,
  'completion_tokens': 66,
  'total_cost': 0.012834000000000002,
  'time': 0.931610107421875},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT country\nFROM politics\nWHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD')",
  'type': 'complex',
  'total_tokens': 4246,
  'prompt_tokens': 4203,
  'completion_tokens': 43,
  'total_cost': 0.012781,
  'time': 1.021158218383789},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name \nFROM city \nWHERE country = 'CUB';",
  'type': 'medium',
  'total_tokens': 4203,
  'prompt_tokens': 4187,
  'completion_tokens': 16,
  'total_cost': 0.012625,
  'time': 0.615454912185669},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia';",
  'type': 'medium',
  'total_tokens': 4197,
  'prompt_tokens': 4187,
  'completion_tokens': 10,
  'total_cost': 0.012601000000000001,
  'time': 2.6571741104125977},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NER' AND area > 1000;",
  'type': 'complex',
  'total_tokens': 4216,
  'prompt_tokens': 4193,
  'completion_tokens': 23,
  'total_cost': 0.012671,
  'time': 0.8205790519714355},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC;',
  'type': 'medium',
  'total_tokens': 4206,
  'prompt_tokens': 4190,
  'completion_tokens': 16,
  'total_cost': 0.012634000000000001,
  'time': 4.708712816238403},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, TO_CHAR(established, 'YYYY') AS year_of_establishment\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 4231,
  'prompt_tokens': 4198,
  'completion_tokens': 33,
  'total_cost': 0.012726000000000001,
  'time': 1.2213749885559082},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name\nFROM mountain\nWHERE elevation > 1000;',
  'type': 'medium',
  'total_tokens': 4211,
  'prompt_tokens': 4195,
  'completion_tokens': 16,
  'total_cost': 0.012649,
  'time': 0.8194582462310791},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment\nFROM economy e\nJOIN sea s ON e.country = s.name\nWHERE s.name = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 4240,
  'prompt_tokens': 4189,
  'completion_tokens': 51,
  'total_cost': 0.012771,
  'time': 1.0230491161346436},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, country, province, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6;',
  'type': 'simple',
  'total_tokens': 4213,
  'prompt_tokens': 4192,
  'completion_tokens': 21,
  'total_cost': 0.012660000000000001,
  'time': 1.023902177810669},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT c.name, c.population, c.elevation, p.population_growth\nFROM city c\nJOIN province pr ON c.province = pr.name AND c.country = pr.country\nJOIN population p ON c.country = p.country\nWHERE c.population > 100000 AND c.elevation > 2500 AND p.population_growth > 1;',
  'type': 'complex',
  'total_tokens': 4284,
  'prompt_tokens': 4212,
  'completion_tokens': 72,
  'total_cost': 0.012924,
  'time': 1.4339640140533447},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 4197,
  'prompt_tokens': 4188,
  'completion_tokens': 9,
  'total_cost': 0.012599999999999998,
  'time': 0.49723315238952637},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name\nFROM province\nWHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 4201,
  'prompt_tokens': 4186,
  'completion_tokens': 15,
  'total_cost': 0.012617999999999999,
  'time': 0.7266156673431396},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage \nFROM ethnicgroup \nWHERE name = 'Mulatto' AND country = 'BRA'",
  'type': 'complex',
  'total_tokens': 4215,
  'prompt_tokens': 4191,
  'completion_tokens': 24,
  'total_cost': 0.012669,
  'time': 0.8193862438201904},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) \nFROM city \nWHERE population < 1000',
  'type': 'simple',
  'total_tokens': 4208,
  'prompt_tokens': 4191,
  'completion_tokens': 17,
  'total_cost': 0.012641,
  'time': 0.6042969226837158},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) \nFROM airport \nWHERE country = 'USA';",
  'type': 'complex',
  'total_tokens': 4208,
  'prompt_tokens': 4190,
  'completion_tokens': 18,
  'total_cost': 0.012642,
  'time': 0.6681849956512451},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country1) \nFROM borders \nWHERE country2 = 'CARB'\nOR country1 = 'CARB'",
  'type': 'medium',
  'total_tokens': 4228,
  'prompt_tokens': 4197,
  'completion_tokens': 31,
  'total_cost': 0.012715,
  'time': 0.6273560523986816},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE b.country2 = 'CARI'\nUNION\nSELECT SUM(c.area) \nFROM country c\nJOIN borders b ON c.code = b.country2\nWHERE b.country1 = 'CARI';",
  'type': 'complex',
  'total_tokens': 4269,
  'prompt_tokens': 4203,
  'completion_tokens': 66,
  'total_cost': 0.012873,
  'time': 1.3609778881072998},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c.name AS country, SUM(cp.population) AS total_population_of_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nJOIN country cp ON b.country2 = cp.code\nGROUP BY c.name\nORDER BY total_population_of_neighbors DESC;',
  'type': 'medium',
  'total_tokens': 4253,
  'prompt_tokens': 4195,
  'completion_tokens': 58,
  'total_cost': 0.012817,
  'time': 1.0244531631469727},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain.name\nFROM mountain\nJOIN mountainonisland ON mountain.name = mountainonisland.mountain\nJOIN island ON mountainonisland.island = island.name\nWHERE island.name = 'Borneo';",
  'type': 'simple',
  'total_tokens': 4236,
  'prompt_tokens': 4191,
  'completion_tokens': 45,
  'total_cost': 0.012752999999999999,
  'time': 1.1940882205963135},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nWHERE area = (SELECT MIN(area) FROM country)',
  'type': 'simple',
  'total_tokens': 4216,
  'prompt_tokens': 4194,
  'completion_tokens': 22,
  'total_cost': 0.012669999999999999,
  'time': 0.6770200729370117},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT r.country\nFROM river r\nJOIN geo_source gs ON r.name = gs.river AND r.country = gs.country\nJOIN geo_estuary ge ON r.name = ge.river\nWHERE ge.country <> r.country\nORDER BY r.country;',
  'type': 'complex',
  'total_tokens': 4260,
  'prompt_tokens': 4205,
  'completion_tokens': 55,
  'total_cost': 0.012835000000000001,
  'time': 0.9824609756469727},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT p.country\nFROM mountain m\nJOIN mountainonisland mi ON m.name = mi.mountain\nJOIN geo_mountain gm ON m.name = gm.mountain\nJOIN province p ON gm.province = p.name AND gm.country = p.country\nGROUP BY p.country\nHAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM province WHERE country = p.country)\nORDER BY p.country;',
  'type': 'complex',
  'total_tokens': 4289,
  'prompt_tokens': 4198,
  'completion_tokens': 91,
  'total_cost': 0.012958,
  'time': 1.2690532207489014},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.code, SUM(b.length) AS total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.code\nORDER BY total_border_length DESC;',
  'type': 'complex',
  'total_tokens': 4238,
  'prompt_tokens': 4195,
  'completion_tokens': 43,
  'total_cost': 0.012757000000000001,
  'time': 0.8176558017730713},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN river r ON c.code = r.country;',
  'type': 'medium',
  'total_tokens': 4220,
  'prompt_tokens': 4195,
  'completion_tokens': 25,
  'total_cost': 0.012685,
  'time': 0.8156993389129639},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT area, country FROM river WHERE name = 'Chatanga River';",
  'type': 'simple',
  'total_tokens': 4209,
  'prompt_tokens': 4192,
  'completion_tokens': 17,
  'total_cost': 0.012644,
  'time': 0.8173089027404785},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT name, elevation\nFROM airport\nWHERE elevation > 3000;',
  'type': 'simple',
  'total_tokens': 4210,
  'prompt_tokens': 4192,
  'completion_tokens': 18,
  'total_cost': 0.012648,
  'time': 0.6158959865570068},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name\nFROM religion\nWHERE country = 'MEX'",
  'type': 'medium',
  'total_tokens': 4204,
  'prompt_tokens': 4188,
  'completion_tokens': 16,
  'total_cost': 0.012627999999999999,
  'time': 0.610313892364502},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name\nFROM river\nWHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 4205,
  'prompt_tokens': 4191,
  'completion_tokens': 14,
  'total_cost': 0.012629,
  'time': 0.6134998798370361},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT c.name AS country, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE c.continent = 'Africa'\nGROUP BY c.name\nORDER BY num_neighbors DESC;",
  'type': 'complex',
  'total_tokens': 4240,
  'prompt_tokens': 4188,
  'completion_tokens': 52,
  'total_cost': 0.012771999999999999,
  'time': 1.0209627151489258},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality\nFROM continent c\nJOIN country co ON c.name = co.continent\nJOIN population p ON co.code = p.country\nGROUP BY c.name;',
  'type': 'simple',
  'total_tokens': 4244,
  'prompt_tokens': 4191,
  'completion_tokens': 53,
  'total_cost': 0.012785,
  'time': 0.815140962600708},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(infant_mortality) \nFROM population \nWHERE country IN (\n    SELECT code \n    FROM country \n    WHERE country NOT IN ('BRA') \n    AND country IN (\n        SELECT country \n        FROM encompasses \n        WHERE continent = 'America'\n    )\n)",
  'type': 'complex',
  'total_tokens': 4254,
  'prompt_tokens': 4195,
  'completion_tokens': 59,
  'total_cost': 0.012821,
  'time': 1.4334361553192139},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name, area, depth\nFROM sea\nWHERE area > 8000 AND depth < 100;',
  'type': 'simple',
  'total_tokens': 4221,
  'prompt_tokens': 4196,
  'completion_tokens': 25,
  'total_cost': 0.012688,
  'time': 1.0202558040618896},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) \nFROM mountain m\nJOIN geo_mountain gm ON m.name = gm.mountain\nJOIN province p ON gm.province = p.name\nJOIN country c ON p.country = c.code\nJOIN encompasses e ON c.code = e.country\nJOIN continent co ON e.continent = co.name\nWHERE co.name = 'Asia'",
  'type': 'complex',
  'total_tokens': 4261,
  'prompt_tokens': 4188,
  'completion_tokens': 73,
  'total_cost': 0.012856,
  'time': 1.0225868225097656},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) \nFROM borders \nWHERE country1 IN (\n    SELECT country \n    FROM sea \n    WHERE name = 'Mediterranean Sea'\n) \nOR country2 IN (\n    SELECT country \n    FROM sea \n    WHERE name = 'Mediterranean Sea'\n)",
  'type': 'complex',
  'total_tokens': 4256,
  'prompt_tokens': 4191,
  'completion_tokens': 65,
  'total_cost': 0.012832999999999999,
  'time': 1.0150279998779297},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government;',
  'type': 'simple',
  'total_tokens': 4207,
  'prompt_tokens': 4189,
  'completion_tokens': 18,
  'total_cost': 0.012639,
  'time': 1.0228219032287598},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name\nFROM province p\nJOIN geo_desert gd ON p.name = gd.province\nJOIN desert d ON gd.desert = d.name\nWHERE d.area = (SELECT MAX(area) FROM desert)',
  'type': 'simple',
  'total_tokens': 4237,
  'prompt_tokens': 4190,
  'completion_tokens': 47,
  'total_cost': 0.012758000000000002,
  'time': 1.0204269886016846},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area\nFROM desert\nORDER BY area DESC;',
  'type': 'simple',
  'total_tokens': 4205,
  'prompt_tokens': 4189,
  'completion_tokens': 16,
  'total_cost': 0.012631,
  'time': 0.615994930267334},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT c.name AS continent, COUNT(d.name) AS desert_count\nFROM continent c\nJOIN desert d ON c.name = d.area\nGROUP BY c.name;',
  'type': 'complex',
  'total_tokens': 4230,
  'prompt_tokens': 4194,
  'completion_tokens': 36,
  'total_cost': 0.012726,
  'time': 0.8130261898040771},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea2 \nFROM mergeswith \nWHERE sea1 = 'Banda Sea';",
  'type': 'medium',
  'total_tokens': 4211,
  'prompt_tokens': 4191,
  'completion_tokens': 20,
  'total_cost': 0.012653,
  'time': 0.599890947341919},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT c.capital\nFROM country c\nJOIN encompasses e ON c.code = e.country\nJOIN continent co ON e.continent = co.name\nWHERE co.name = 'Europe'",
  'type': 'medium',
  'total_tokens': 4228,
  'prompt_tokens': 4188,
  'completion_tokens': 40,
  'total_cost': 0.012724,
  'time': 0.8331589698791504},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage \nFROM spoken \nWHERE country = 'AD' \nAND language = 'French';",
  'type': 'complex',
  'total_tokens': 4212,
  'prompt_tokens': 4190,
  'completion_tokens': 22,
  'total_cost': 0.012658,
  'time': 0.8206958770751953},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name\nFROM river\nWHERE length > 1000;',
  'type': 'complex',
  'total_tokens': 4206,
  'prompt_tokens': 4190,
  'completion_tokens': 16,
  'total_cost': 0.012634000000000001,
  'time': 0.6065373420715332},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country, population_growth\nFROM population\nORDER BY population_growth\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 4209,
  'prompt_tokens': 4188,
  'completion_tokens': 21,
  'total_cost': 0.012648,
  'time': 0.8161799907684326},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT c.name\nFROM city c\nLEFT JOIN located l ON c.name = l.city\nWHERE l.city IS NULL\nORDER BY c.name;',
  'type': 'complex',
  'total_tokens': 4232,
  'prompt_tokens': 4199,
  'completion_tokens': 33,
  'total_cost': 0.012729,
  'time': 1.0505430698394775},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': "SELECT capital FROM province WHERE name = 'Andalucía';",
  'type': 'simple',
  'total_tokens': 4209,
  'prompt_tokens': 4193,
  'completion_tokens': 16,

In [13]:
queries=read_queries()
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand';",
  'type': 'simple',
  'total_tokens': 4201,
  'prompt_tokens': 4187,
  'completion_tokens': 14,
  'total_cost': 0.012617000000000001,
  'time': 3.0832347869873047},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, country, area\nFROM province\nWHERE area > 10000;',
  'type': 'simple',
  'total_tokens': 4213,
  'prompt_tokens': 4193,
  'completion_tokens': 20,
  'total_cost': 0.012659,
  'time': 1.0262291431427002},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE name IN (\n    SELECT language\n    FROM spoken\n    WHERE country = 'POL'\n)\nORDER BY name;",
  'type': 'medium',
  'total_tokens': 4221,
  'prompt_tokens': 4188,
  'completion_tokens': 33,
  'total_cost': 0.012695999999999999,
  'time': 7.529034852981567},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'total_tokens': 4202,
  'prompt_tokens': 4187,
  'completion_tokens': 15,
  'total_cost': 0.012621,
  'time': 1.1658940315246582},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(name) \nFROM province \nWHERE country = 'NL';",
  'type': 'complex',
  'total_tokens': 4206,
  'prompt_tokens': 4189,
  'completion_tokens': 17,
  'total_cost': 0.012635,
  'time': 0.6863560676574707},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage \nFROM religion \nWHERE country = 'THA' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 4218,
  'prompt_tokens': 4194,
  'completion_tokens': 24,
  'total_cost': 0.012678,
  'time': 0.5334818363189697},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name AS river_name, COUNT(DISTINCT p.name) AS num_provinces\nFROM river r\nJOIN located l ON r.name = l.river\nJOIN province p ON l.province = p.name AND l.country = p.country\nGROUP BY r.name\nORDER BY num_provinces DESC;',
  'type': 'medium',
  'total_tokens': 4256,
  'prompt_tokens': 4190,
  'completion_tokens': 66,
  'total_cost': 0.012834000000000002,
  'time': 0.931610107421875},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT country\nFROM politics\nWHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD')",
  'type': 'complex',
  'total_tokens': 4246,
  'prompt_tokens': 4203,
  'completion_tokens': 43,
  'total_cost': 0.012781,
  'time': 1.021158218383789},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name \nFROM city \nWHERE country = 'CUB';",
  'type': 'medium',
  'total_tokens': 4203,
  'prompt_tokens': 4187,
  'completion_tokens': 16,
  'total_cost': 0.012625,
  'time': 0.615454912185669},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia';",
  'type': 'medium',
  'total_tokens': 4197,
  'prompt_tokens': 4187,
  'completion_tokens': 10,
  'total_cost': 0.012601000000000001,
  'time': 2.6571741104125977},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NER' AND area > 1000;",
  'type': 'complex',
  'total_tokens': 4216,
  'prompt_tokens': 4193,
  'completion_tokens': 23,
  'total_cost': 0.012671,
  'time': 0.8205790519714355},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC;',
  'type': 'medium',
  'total_tokens': 4206,
  'prompt_tokens': 4190,
  'completion_tokens': 16,
  'total_cost': 0.012634000000000001,
  'time': 4.708712816238403},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, TO_CHAR(established, 'YYYY') AS year_of_establishment\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 4231,
  'prompt_tokens': 4198,
  'completion_tokens': 33,
  'total_cost': 0.012726000000000001,
  'time': 1.2213749885559082},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name\nFROM mountain\nWHERE elevation > 1000;',
  'type': 'medium',
  'total_tokens': 4211,
  'prompt_tokens': 4195,
  'completion_tokens': 16,
  'total_cost': 0.012649,
  'time': 0.8194582462310791},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment\nFROM economy e\nJOIN sea s ON e.country = s.name\nWHERE s.name = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 4240,
  'prompt_tokens': 4189,
  'completion_tokens': 51,
  'total_cost': 0.012771,
  'time': 1.0230491161346436},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, country, province, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6;',
  'type': 'simple',
  'total_tokens': 4213,
  'prompt_tokens': 4192,
  'completion_tokens': 21,
  'total_cost': 0.012660000000000001,
  'time': 1.023902177810669},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT c.name, c.population, c.elevation, p.population_growth\nFROM city c\nJOIN province pr ON c.province = pr.name AND c.country = pr.country\nJOIN population p ON c.country = p.country\nWHERE c.population > 100000 AND c.elevation > 2500 AND p.population_growth > 1;',
  'type': 'complex',
  'total_tokens': 4284,
  'prompt_tokens': 4212,
  'completion_tokens': 72,
  'total_cost': 0.012924,
  'time': 1.4339640140533447},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 4197,
  'prompt_tokens': 4188,
  'completion_tokens': 9,
  'total_cost': 0.012599999999999998,
  'time': 0.49723315238952637},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name\nFROM province\nWHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 4201,
  'prompt_tokens': 4186,
  'completion_tokens': 15,
  'total_cost': 0.012617999999999999,
  'time': 0.7266156673431396},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage \nFROM ethnicgroup \nWHERE name = 'Mulatto' AND country = 'BRA'",
  'type': 'complex',
  'total_tokens': 4215,
  'prompt_tokens': 4191,
  'completion_tokens': 24,
  'total_cost': 0.012669,
  'time': 0.8193862438201904},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) \nFROM city \nWHERE population < 1000',
  'type': 'simple',
  'total_tokens': 4208,
  'prompt_tokens': 4191,
  'completion_tokens': 17,
  'total_cost': 0.012641,
  'time': 0.6042969226837158},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) \nFROM airport \nWHERE country = 'USA';",
  'type': 'complex',
  'total_tokens': 4208,
  'prompt_tokens': 4190,
  'completion_tokens': 18,
  'total_cost': 0.012642,
  'time': 0.6681849956512451},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country1) \nFROM borders \nWHERE country2 = 'CARB'\nOR country1 = 'CARB'",
  'type': 'medium',
  'total_tokens': 4228,
  'prompt_tokens': 4197,
  'completion_tokens': 31,
  'total_cost': 0.012715,
  'time': 0.6273560523986816},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE b.country2 = 'CARI'\nUNION\nSELECT SUM(c.area) \nFROM country c\nJOIN borders b ON c.code = b.country2\nWHERE b.country1 = 'CARI';",
  'type': 'complex',
  'total_tokens': 4269,
  'prompt_tokens': 4203,
  'completion_tokens': 66,
  'total_cost': 0.012873,
  'time': 1.3609778881072998},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c.name AS country, SUM(cp.population) AS total_population_of_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nJOIN country cp ON b.country2 = cp.code\nGROUP BY c.name\nORDER BY total_population_of_neighbors DESC;',
  'type': 'medium',
  'total_tokens': 4253,
  'prompt_tokens': 4195,
  'completion_tokens': 58,
  'total_cost': 0.012817,
  'time': 1.0244531631469727},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain.name\nFROM mountain\nJOIN mountainonisland ON mountain.name = mountainonisland.mountain\nJOIN island ON mountainonisland.island = island.name\nWHERE island.name = 'Borneo';",
  'type': 'simple',
  'total_tokens': 4236,
  'prompt_tokens': 4191,
  'completion_tokens': 45,
  'total_cost': 0.012752999999999999,
  'time': 1.1940882205963135},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nWHERE area = (SELECT MIN(area) FROM country)',
  'type': 'simple',
  'total_tokens': 4216,
  'prompt_tokens': 4194,
  'completion_tokens': 22,
  'total_cost': 0.012669999999999999,
  'time': 0.6770200729370117},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT r.country\nFROM river r\nJOIN geo_source gs ON r.name = gs.river AND r.country = gs.country\nJOIN geo_estuary ge ON r.name = ge.river\nWHERE ge.country <> r.country\nORDER BY r.country;',
  'type': 'complex',
  'total_tokens': 4260,
  'prompt_tokens': 4205,
  'completion_tokens': 55,
  'total_cost': 0.012835000000000001,
  'time': 0.9824609756469727},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT p.country\nFROM mountain m\nJOIN mountainonisland mi ON m.name = mi.mountain\nJOIN geo_mountain gm ON m.name = gm.mountain\nJOIN province p ON gm.province = p.name AND gm.country = p.country\nGROUP BY p.country\nHAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM province WHERE country = p.country)\nORDER BY p.country;',
  'type': 'complex',
  'total_tokens': 4289,
  'prompt_tokens': 4198,
  'completion_tokens': 91,
  'total_cost': 0.012958,
  'time': 1.2690532207489014},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.code, SUM(b.length) AS total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.code\nORDER BY total_border_length DESC;',
  'type': 'complex',
  'total_tokens': 4238,
  'prompt_tokens': 4195,
  'completion_tokens': 43,
  'total_cost': 0.012757000000000001,
  'time': 0.8176558017730713},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN river r ON c.code = r.country;',
  'type': 'medium',
  'total_tokens': 4220,
  'prompt_tokens': 4195,
  'completion_tokens': 25,
  'total_cost': 0.012685,
  'time': 0.8156993389129639},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT area, country FROM river WHERE name = 'Chatanga River';",
  'type': 'simple',
  'total_tokens': 4209,
  'prompt_tokens': 4192,
  'completion_tokens': 17,
  'total_cost': 0.012644,
  'time': 0.8173089027404785},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT name, elevation\nFROM airport\nWHERE elevation > 3000;',
  'type': 'simple',
  'total_tokens': 4210,
  'prompt_tokens': 4192,
  'completion_tokens': 18,
  'total_cost': 0.012648,
  'time': 0.6158959865570068},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name\nFROM religion\nWHERE country = 'MEX'",
  'type': 'medium',
  'total_tokens': 4204,
  'prompt_tokens': 4188,
  'completion_tokens': 16,
  'total_cost': 0.012627999999999999,
  'time': 0.610313892364502},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name\nFROM river\nWHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 4205,
  'prompt_tokens': 4191,
  'completion_tokens': 14,
  'total_cost': 0.012629,
  'time': 0.6134998798370361},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT c.name AS country, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE c.continent = 'Africa'\nGROUP BY c.name\nORDER BY num_neighbors DESC;",
  'type': 'complex',
  'total_tokens': 4240,
  'prompt_tokens': 4188,
  'completion_tokens': 52,
  'total_cost': 0.012771999999999999,
  'time': 1.0209627151489258},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality\nFROM continent c\nJOIN country co ON c.name = co.continent\nJOIN population p ON co.code = p.country\nGROUP BY c.name;',
  'type': 'simple',
  'total_tokens': 4244,
  'prompt_tokens': 4191,
  'completion_tokens': 53,
  'total_cost': 0.012785,
  'time': 0.815140962600708},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(infant_mortality) \nFROM population \nWHERE country IN (\n    SELECT code \n    FROM country \n    WHERE country NOT IN ('BRA') \n    AND country IN (\n        SELECT country \n        FROM encompasses \n        WHERE continent = 'America'\n    )\n)",
  'type': 'complex',
  'total_tokens': 4254,
  'prompt_tokens': 4195,
  'completion_tokens': 59,
  'total_cost': 0.012821,
  'time': 1.4334361553192139},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name, area, depth\nFROM sea\nWHERE area > 8000 AND depth < 100;',
  'type': 'simple',
  'total_tokens': 4221,
  'prompt_tokens': 4196,
  'completion_tokens': 25,
  'total_cost': 0.012688,
  'time': 1.0202558040618896},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) \nFROM mountain m\nJOIN geo_mountain gm ON m.name = gm.mountain\nJOIN province p ON gm.province = p.name\nJOIN country c ON p.country = c.code\nJOIN encompasses e ON c.code = e.country\nJOIN continent co ON e.continent = co.name\nWHERE co.name = 'Asia'",
  'type': 'complex',
  'total_tokens': 4261,
  'prompt_tokens': 4188,
  'completion_tokens': 73,
  'total_cost': 0.012856,
  'time': 1.0225868225097656},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) \nFROM borders \nWHERE country1 IN (\n    SELECT country \n    FROM sea \n    WHERE name = 'Mediterranean Sea'\n) \nOR country2 IN (\n    SELECT country \n    FROM sea \n    WHERE name = 'Mediterranean Sea'\n)",
  'type': 'complex',
  'total_tokens': 4256,
  'prompt_tokens': 4191,
  'completion_tokens': 65,
  'total_cost': 0.012832999999999999,
  'time': 1.0150279998779297},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government;',
  'type': 'simple',
  'total_tokens': 4207,
  'prompt_tokens': 4189,
  'completion_tokens': 18,
  'total_cost': 0.012639,
  'time': 1.0228219032287598},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name\nFROM province p\nJOIN geo_desert gd ON p.name = gd.province\nJOIN desert d ON gd.desert = d.name\nWHERE d.area = (SELECT MAX(area) FROM desert)',
  'type': 'simple',
  'total_tokens': 4237,
  'prompt_tokens': 4190,
  'completion_tokens': 47,
  'total_cost': 0.012758000000000002,
  'time': 1.0204269886016846},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area\nFROM desert\nORDER BY area DESC;',
  'type': 'simple',
  'total_tokens': 4205,
  'prompt_tokens': 4189,
  'completion_tokens': 16,
  'total_cost': 0.012631,
  'time': 0.615994930267334},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT c.name AS continent, COUNT(d.name) AS desert_count\nFROM continent c\nJOIN desert d ON c.name = d.area\nGROUP BY c.name;',
  'type': 'complex',
  'total_tokens': 4230,
  'prompt_tokens': 4194,
  'completion_tokens': 36,
  'total_cost': 0.012726,
  'time': 0.8130261898040771},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea2 \nFROM mergeswith \nWHERE sea1 = 'Banda Sea';",
  'type': 'medium',
  'total_tokens': 4211,
  'prompt_tokens': 4191,
  'completion_tokens': 20,
  'total_cost': 0.012653,
  'time': 0.599890947341919},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT c.capital\nFROM country c\nJOIN encompasses e ON c.code = e.country\nJOIN continent co ON e.continent = co.name\nWHERE co.name = 'Europe'",
  'type': 'medium',
  'total_tokens': 4228,
  'prompt_tokens': 4188,
  'completion_tokens': 40,
  'total_cost': 0.012724,
  'time': 0.8331589698791504},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage \nFROM spoken \nWHERE country = 'AD' \nAND language = 'French';",
  'type': 'complex',
  'total_tokens': 4212,
  'prompt_tokens': 4190,
  'completion_tokens': 22,
  'total_cost': 0.012658,
  'time': 0.8206958770751953},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name\nFROM river\nWHERE length > 1000;',
  'type': 'complex',
  'total_tokens': 4206,
  'prompt_tokens': 4190,
  'completion_tokens': 16,
  'total_cost': 0.012634000000000001,
  'time': 0.6065373420715332},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country, population_growth\nFROM population\nORDER BY population_growth\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 4209,
  'prompt_tokens': 4188,
  'completion_tokens': 21,
  'total_cost': 0.012648,
  'time': 0.8161799907684326},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT c.name\nFROM city c\nLEFT JOIN located l ON c.name = l.city\nWHERE l.city IS NULL\nORDER BY c.name;',
  'type': 'complex',
  'total_tokens': 4232,
  'prompt_tokens': 4199,
  'completion_tokens': 33,
  'total_cost': 0.012729,
  'time': 1.0505430698394775},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': "SELECT capital FROM province WHERE name = 'Andalucía';",
  'type': 'simple',
  'total_tokens': 4209,
  'prompt_tokens': 4193,
  'completion_tokens': 16,

## Prompt Generated by Langchain

In [14]:
sql_query_chain_prompt = query_chain.middle[1].template.format(table_info=db.get_table_info(), top_k=0, input="{input}")
print(sql_query_chain_prompt)

You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, don't query for at 0 most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today".

Some hints:
- Don't use double quotes in column name
-
Example:
`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`
- Don't use LEFT JOIN, only JOIN

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE airport (
	iatacode VARCHAR(3 CHAR) NOT NULL,
	name VARCHAR(100 CHAR),
	country VARCHAR(4 CHAR),
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	gmtoffset NUMBER,
	CONSTRAINT sys_c008610 PRIMARY KEY (iatacode),
	CONSTRAINT airplat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT airplon CHECK ((Longitude >= -180) AND (Longitude <= 180))
)
 TABLESPACE "USERS"


CREATE TABLE borders (
	country1 VARCHAR(4 CHAR) NOT NULL,
	country2 VARCHAR(4 CHAR) NOT NULL,
	length NUMBER,
	CONSTRAINT borderkey PRIMARY KEY (country1, country2),
	CONSTRAINT sys_c008563 CHECK (Length > 0)
)
 TABLESPACE "USERS"


CREATE TABLE city (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	population NUMBER,
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	CONSTRAINT citykey PRIMARY KEY (name, country, province),
	CONSTRAINT citylat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT citylon CHECK ((Longitude >= -180) AND (Longitude <= 180)),
	CONSTRAINT citypop CHECK (Population >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE citylocalname (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT citylocalnamekey PRIMARY KEY (country, province, city)
)
 TABLESPACE "USERS"


CREATE TABLE cityothername (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT cityothernamekey PRIMARY KEY (country, province, city, othername)
)
 TABLESPACE "USERS"


CREATE TABLE citypops (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT citypopkey PRIMARY KEY (country, province, city, year),
	CONSTRAINT citypopspop CHECK (Population >= 0),
	CONSTRAINT citypopsyear CHECK (Year >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE continent (
	name VARCHAR(20 CHAR) NOT NULL,
	area NUMBER(10, 0),
	CONSTRAINT continentkey PRIMARY KEY (name)
)
 TABLESPACE "USERS"


CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE countrylocalname (
	country VARCHAR(4 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT countrylocalnamekey PRIMARY KEY (country)
)
 TABLESPACE "USERS"


CREATE TABLE countryothername (
	country VARCHAR(4 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT countryothernamekey PRIMARY KEY (country, othername)
)
 TABLESPACE "USERS"


CREATE TABLE countrypops (
	country VARCHAR(4 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT countrypopskey PRIMARY KEY (country, year),
	CONSTRAINT countrypopspop CHECK (Population >= 0),
	CONSTRAINT countrypopsyear CHECK (Year >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE desert (
	name VARCHAR(50 CHAR) NOT NULL,
	area NUMBER,
	CONSTRAINT desertkey PRIMARY KEY (name),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)
 TABLESPACE "USERS"


CREATE TABLE economy (
	country VARCHAR(4 CHAR) NOT NULL,
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	CONSTRAINT economykey PRIMARY KEY (country),
	CONSTRAINT economygdp CHECK (GDP >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE encompasses (
	country VARCHAR(4 CHAR) NOT NULL,
	continent VARCHAR(20 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT encompasseskey PRIMARY KEY (country, continent),
	CONSTRAINT sys_c008567 CHECK ((Percentage > 0) AND (Percentage <= 100))
)
 TABLESPACE "USERS"


CREATE TABLE ethnicgroup (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT ethnickey PRIMARY KEY (name, country),
	CONSTRAINT ethnicpercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)
 TABLESPACE "USERS"


CREATE TABLE geo_desert (
	desert VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gdesertkey PRIMARY KEY (province, country, desert)
)
 TABLESPACE "USERS"


CREATE TABLE geo_estuary (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gestuarykey PRIMARY KEY (province, country, river)
)
 TABLESPACE "USERS"


CREATE TABLE geo_island (
	island VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gislandkey PRIMARY KEY (province, country, island)
)
 TABLESPACE "USERS"


CREATE TABLE geo_lake (
	lake VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT glakekey PRIMARY KEY (province, country, lake)
)
 TABLESPACE "USERS"


CREATE TABLE geo_mountain (
	mountain VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gmountainkey PRIMARY KEY (province, country, mountain)
)
 TABLESPACE "USERS"


CREATE TABLE geo_river (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT griverkey PRIMARY KEY (province, country, river)
)
 TABLESPACE "USERS"


CREATE TABLE geo_sea (
	sea VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gseakey PRIMARY KEY (province, country, sea)
)
 TABLESPACE "USERS"


CREATE TABLE geo_source (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gsourcekey PRIMARY KEY (province, country, river)
)
 TABLESPACE "USERS"


CREATE TABLE island (
	name VARCHAR(50 CHAR) NOT NULL,
	islands VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	type VARCHAR(15 CHAR),
	CONSTRAINT islandkey PRIMARY KEY (name),
	CONSTRAINT islandar CHECK (Area >= 0),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)
 TABLESPACE "USERS"


CREATE TABLE islandin (
	island VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	river VARCHAR(50 CHAR)
)
 TABLESPACE "USERS"


CREATE TABLE ismember (
	country VARCHAR(4 CHAR) NOT NULL,
	organization VARCHAR(12 CHAR) NOT NULL,
	type VARCHAR(60 CHAR) DEFAULT 'member',
	CONSTRAINT memberkey PRIMARY KEY (country, organization)
)
 TABLESPACE "USERS"


CREATE TABLE lake (
	name VARCHAR(50 CHAR) NOT NULL,
	river VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	depth NUMBER,
	height NUMBER,
	type VARCHAR(12 CHAR),
	CONSTRAINT lakekey PRIMARY KEY (name),
	CONSTRAINT damheight CHECK (Height > 0),
	CONSTRAINT lakear CHECK (Area >= 0),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakedpth CHECK (Depth >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE lakeonisland (
	lake VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT lakeislkey PRIMARY KEY (lake, island)
)
 TABLESPACE "USERS"


CREATE TABLE language (
	name VARCHAR(50 CHAR) NOT NULL,
	superlanguage VARCHAR(50 CHAR),
	CONSTRAINT languagekey PRIMARY KEY (name)
)
 TABLESPACE "USERS"


CREATE TABLE located (
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	river VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR)
)
 TABLESPACE "USERS"


CREATE TABLE locatedon (
	city VARCHAR(50 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT locatedonkey PRIMARY KEY (city, province, country, island)
)
 TABLESPACE "USERS"


CREATE TABLE mergeswith (
	sea1 VARCHAR(50 CHAR) NOT NULL,
	sea2 VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT mergeswithkey PRIMARY KEY (sea1, sea2)
)
 TABLESPACE "USERS"


CREATE TABLE mountain (
	name VARCHAR(50 CHAR) NOT NULL,
	mountains VARCHAR(50 CHAR),
	elevation NUMBER,
	type VARCHAR(10 CHAR),
	CONSTRAINT mountainkey PRIMARY KEY (name),
	CONSTRAINT mountaincoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT mountaincoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)
 TABLESPACE "USERS"


CREATE TABLE mountainonisland (
	mountain VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT mountainislkey PRIMARY KEY (mountain, island)
)
 TABLESPACE "USERS"


CREATE TABLE organization (
	abbreviation VARCHAR(12 CHAR) NOT NULL,
	name VARCHAR(100 CHAR) NOT NULL,
	city VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	established DATE,
	CONSTRAINT orgkey PRIMARY KEY (abbreviation)
)
 TABLESPACE "USERS"


CREATE TABLE politics (
	country VARCHAR(4 CHAR) NOT NULL,
	independence DATE,
	wasdependent VARCHAR(50 CHAR),
	dependent VARCHAR(4 CHAR),
	government VARCHAR(120 CHAR),
	CONSTRAINT politicskey PRIMARY KEY (country)
)
 TABLESPACE "USERS"


CREATE TABLE population (
	country VARCHAR(4 CHAR) NOT NULL,
	population_growth NUMBER,
	infant_mortality NUMBER,
	CONSTRAINT popkey PRIMARY KEY (country)
)
 TABLESPACE "USERS"


CREATE TABLE province (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	population NUMBER,
	area NUMBER,
	capital VARCHAR(50 CHAR),
	capprov VARCHAR(50 CHAR),
	CONSTRAINT prkey PRIMARY KEY (name, country),
	CONSTRAINT prar CHECK (Area >= 0),
	CONSTRAINT prpop CHECK (Population >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE provincelocalname (
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT provlocalnamekey PRIMARY KEY (country, province)
)
 TABLESPACE "USERS"


CREATE TABLE provinceothername (
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT provothernamekey PRIMARY KEY (country, province, othername)
)
 TABLESPACE "USERS"


CREATE TABLE provpops (
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT provpopkey PRIMARY KEY (country, province, year),
	CONSTRAINT provpopspop CHECK (Population >= 0),
	CONSTRAINT provpopsyear CHECK (Year >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE religion (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT religionkey PRIMARY KEY (name, country),
	CONSTRAINT religionpercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)
 TABLESPACE "USERS"


CREATE TABLE river (
	name VARCHAR(50 CHAR) NOT NULL,
	river VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	length NUMBER,
	area NUMBER,
	mountains VARCHAR(50 CHAR),
	sourceelevation NUMBER,
	estuaryelevation NUMBER,
	CONSTRAINT riverkey PRIMARY KEY (name),
	CONSTRAINT estcoord CHECK ((Estuary.Latitude >= -90) AND
            (Estuary.Latitude <= 90) AND
            (Estuary.Longitude > -180) AND
            (Estuary.Longitude <= 180)),
	CONSTRAINT estcoord CHECK ((Estuary.Latitude >= -90) AND
            (Estuary.Latitude <= 90) AND
            (Estuary.Longitude > -180) AND
            (Estuary.Longitude <= 180)),
	CONSTRAINT riverarea CHECK (Area >= 0),
	CONSTRAINT riverlength CHECK (Length >= 0),
	CONSTRAINT rivflowsinto CHECK ((River IS NULL AND Lake IS NULL)
            OR (River IS NULL AND Sea IS NULL)
            OR (Lake IS NULL AND Sea is NULL)),
	CONSTRAINT rivflowsinto CHECK ((River IS NULL AND Lake IS NULL)
            OR (River IS NULL AND Sea IS NULL)
            OR (Lake IS NULL AND Sea is NULL)),
	CONSTRAINT rivflowsinto CHECK ((River IS NULL AND Lake IS NULL)
            OR (River IS NULL AND Sea IS NULL)
            OR (Lake IS NULL AND Sea is NULL)),
	CONSTRAINT sourcecoord CHECK ((Source.Latitude >= -90) AND
            (Source.Latitude <= 90) AND
            (Source.Longitude > -180) AND
            (Source.Longitude <= 180)),
	CONSTRAINT sourcecoord CHECK ((Source.Latitude >= -90) AND
            (Source.Latitude <= 90) AND
            (Source.Longitude > -180) AND
            (Source.Longitude <= 180))
)
 TABLESPACE "USERS"


CREATE TABLE riveronisland (
	river VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT riverislkey PRIMARY KEY (river, island)
)
 TABLESPACE "USERS"


CREATE TABLE riverthrough (
	river VARCHAR(50 CHAR) NOT NULL,
	lake VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT rthroughkey PRIMARY KEY (river, lake)
)
 TABLESPACE "USERS"


CREATE TABLE sea (
	name VARCHAR(50 CHAR) NOT NULL,
	area NUMBER,
	depth NUMBER,
	CONSTRAINT seakey PRIMARY KEY (name),
	CONSTRAINT seaar CHECK (Area >= 0),
	CONSTRAINT seadepth CHECK (Depth >= 0)
)
 TABLESPACE "USERS"


CREATE TABLE spoken (
	country VARCHAR(4 CHAR) NOT NULL,
	language VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT spokenkey PRIMARY KEY (country, language),
	CONSTRAINT spokenpercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)
 TABLESPACE "USERS"

Question: {input}

In [15]:

f = open(f"prompt_generated_by_langchain_{SCHEMA}_fk.txt", "w")
f.write(sql_query_chain_prompt)
f.close()

#### Fixing queries

In [ ]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
            start_time = time.time()
            sql_query = query_chain.invoke({"question":instance["question"]})
            end_time = time.time()
            instance["query_string"] = sql_query
            instance['total_tokens'] = cb.total_tokens
            instance['prompt_tokens'] = cb.prompt_tokens
            instance['completion_tokens'] = cb.completion_tokens
            instance['total_cost'] = cb.total_cost
            instance['time'] = end_time - start_time
            q[pos] = instance
            print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
            save_queries(q)

41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(DISTINCT country)
FROM borders
WHERE country1 IN (
    SELECT country
    FROM sea
    WHERE name = 'Mediterranean Sea'
)
OR country2 IN (
    SELECT country
    FROM sea
    WHERE name = 'Mediterranean Sea'
) 0.9733130931854248 0.012832999999999999
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT city.name
FROM city
JOIN organization ON city.name = organization.city
WHERE city.country = organization.country
ORDER BY city.name ASC; 1.0307528972625732 0.012711
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN located l ON c.code = l.country
WHERE l.sea = 'Arabian Sea'
ORDER BY e.inflation DESC; 0.705967903137207 0.012794
73 What area is the largest continent? SELECT name, area FROM continent ORDER BY area DESC; 0.5486047267913818 0.012617000000000001
86 What are the 3 airports with the largest name? SELECT name
FROM airport
ORDER BY LENGTH(name) DESC
FETCH FIRST 3 ROWS ONLY; 1.4105639457702637 0.012669
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = 'JPN' 0.5840489864349365 0.012635